/* CSS Document */

:root {
	/*Interface Variables*/
	--text-color: #fff;
	--text-size: 8pt;
	--text-maring: 10px;
	--element-height: 21px;
	--element-maring: 4px;
	--element-radius: 3px;
	--background: #3a393a;
	--button-background: #4c4c4c;
	--button-hover-background: #7a797a;
	--input-background: #1f1e1f;
	/*Variable for switch*/
	--switch-size: 2px;
	--switch-button-color: white;
	--switch-checked-color: var(--button-hover-background);
	--switch-transition: .4s;
	--switch-disable-color: var(--button-background);
}