/* CSS Document */
@charset "UTF-8";
@import "interface.css";

html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
}

body{
	text-align: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#GraphicsFrame, #MessageFrame{
	
	box-shadow: 0 0 5px rgb(0 0 0 / 50%);
	height: calc(100vh - 10px);
	border-style: none;
	box-sizing: border-box;
	position: absolute;
	border-radius: 10px;
	top: 5px;
}

#MessageFrame{
	left: 5px;
	width: 480px;
}

#GraphicsFrame{
	left: calc(480px + 10px);
	width: calc(100vw - 495px);
	background-color: white;
}

#WrapPreview{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1920px;
	height: 1080px;
}

#transparent{
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%), linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.screen{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	border-style: none;
	overflow: hidden;
}

#WrapControl{
	display: block;
	position: absolute;
	width: 465px;
	height: 100%;
	top: 0px;
	left: -450px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	border-radius: 0 15px 15px 0;
	padding: 0px 15px 0px 0;
	transition: all 1s ease-in-out;
	background-color: var(--input-background);
	user-select: none;
	cursor: grab;
	box-sizing: border-box;
}

#WrapControl:hover, #WrapControl.LOCKED{ left: 0;}
#WrapControl.LOCKED{cursor: grabbing; border-radius: 0; }

#WrapMessage{
	display: block;
	position: absolute;
	width: 465px;
	height: 100%;
	top: 0px;
	right: -450px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	border-radius: 15px 0 0 15px;
	padding: 0px 0 0px 15px;
	transition: all 1s ease-in-out;
	background-color: var(--input-background);
	user-select: none;
	cursor: grab;
	box-sizing: border-box;
}

#WrapMessage:hover, #WrapMessage.LOCKED{ right: 0;}
#WrapMessage.LOCKED{cursor: grabbing; border-radius: 0; }

#messages, #controls{
	width: 100%;
	height: 100%;
	border-style: none;
}