/* AFMJE */
* {
    font-family: 'Verdana' !important;
}

#Marianne { display: none !important; }

#Partenaire {
    background-image: url("img/logo-ofb.png");
    aspect-ratio: 1467/505;
    height: calc( 1.5 * var(--gov-unit));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    bottom: var(--gov-unit);
    right: calc(1.5 * var(--gov-unit));
}

#ENPJJ {
    background-image: url("img/logo-afmje.png");
    aspect-ratio: 892 / 864;
    height: calc(2 * var(--gov-unit));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    bottom: var(--gov-unit);
    left: calc(1.5* var(--gov-unit));
    width: unset;
}

#Introduction {
    background-image: url("img/partenaires-afmje.png");
    background-position: center 80%;
    background-size: 60%;
    background-repeat: no-repeat;
}

#Title_Copyright {
    background: rgba(241,98,141,0.5);
    padding-right: calc(0.5 * var(--gov-unit));
    font-size:  calc(0.75 * var(--gov-unit));
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0 calc(0.25 * var(--gov-unit)) calc(0.25 * var(--gov-unit)) 0;
}

#SubTitle_Copyright {
    display: block;
    background: rgba(255,255,255,0.5);
    padding-right: calc(0.5 * var(--gov-unit));
    color: black;
    font-style: italic;
    line-height: unset;
    border-radius: 0 calc(0.25 * var(--gov-unit)) calc(0.25 * var(--gov-unit)) 0;
}

#Title_Introduction {
    font-size: calc(1.5* var(--gov-unit));
    text-transform: uppercase;
    top: 45%;
    padding: calc(0.25 * var(--gov-unit)) calc(0.5 * var(--gov-unit));
    background-color: rgba(241,98,141,0.5);
    border-radius: calc(0.5 * var(--gov-unit));
}

#SubTitle_Introduction {
    font-size: calc(1 * var(--gov-unit));
    color: #F1628D;
    text-transform: none;
    font-style: italic;
    font-weight: normal;
    top: 45%;
    background-color: rgba(255,255,255,0.5);
    padding: calc(0.25 * var(--gov-unit)) calc(0.5 * var(--gov-unit));
    text-shadow: none;
    border-radius: calc(0.5 * var(--gov-unit));
}

#Date {
    bottom: calc(2* var(--gov-unit));
    top: unset;
}

#Title_Chapter {
    width: max-content;
    color: white;
    background: rgba(241,98,141,0.5);
    padding: calc(0.25 * var(--gov-unit)) calc(0.5 * var(--gov-unit));
    border-radius: calc(0.25 * var(--gov-unit));
    text-shadow: none;
}

h1, h2, h3 { color: white; }

#Messages {
    padding-bottom: calc(3 * var(--gov-unit));
}

.Right { background-color: #F1628D; }
.Left { background-color: white; color: black}

#Name {
    background: #F1628D;
    padding: calc(.15 * var(--gov-unit)) calc(0.5* var(--gov-unit));
    font-weight: normal;
}
#Name::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(2555, 255, 255, 0) 50%, rgba(241, 98, 141, 1) 50%, rgba(241, 98, 141, 1) 100%, rgba(255, 255, 255, 0) 100%);
    transition: all 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: 202% 100%;
    visibility: visible;
}

#Function, #Translation {
    padding: calc(.1 * var(--gov-unit)) calc(0.5* var(--gov-unit));
    background: white;
    color: black;
}

#Artist {
    color: #F1628D;
}