/* CNAHES */

#Title_Copyright {
    background: #1f92bc;
    font-weight: bold;
    color: #f5f4e9;
    padding: 0 calc(0.25* var(--gov-unit));
    margin-left: calc(var(--gov-unit) / 1.25);
    text-transform: uppercase;
}

#SubTitle_Copyright {
    display: block;
    background: #febf0f;
    padding: 0 calc(0.25* var(--gov-unit));
    margin-left: calc(1.5* var(--gov-unit));
    margin-top: calc(-0.25* var(--gov-unit));
    z-index: -1;
    position: relative;
    font-style: italic;
}

#Title_Introduction {
    text-transform: uppercase;
    background: #1f92bc;
    text-shadow: none;
    padding: calc(0.25* var(--gov-unit));
    top: 50%;
}

#SubTitle_Introduction {
    text-transform: unset;
    background: #febf0f;
    text-shadow: none;
    padding: calc(0.25* var(--gov-unit));
    font-size: var(--gov-unit);
    margin-top: calc(-0.25* var(--gov-unit));
    z-index: -1;
}

#Date{
    color: black;
    font-style: normal;
    font-weight: bold;
    top: 62.5%;
}

#Partenaire {
    background-image: url("../styles/img/logo-cnahes.png");
    height: calc(1.5* var(--gov-unit));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    right: calc(1.5* var(--gov-unit));
    bottom: var(--gov-unit);
    aspect-ratio: calc(640 / 176);
    transition: opacity 1s ease-in-out, background-image 1s ease-in-out 1s;
}

#Introduction.OFF ~ #Partenaire{
    background-image: url("../styles/img/logo-cnahes-blanc.png");
}

#Chapter.ON ~ #Partenaire{
    background-image: url("../styles/img/logo-cnahes.png");
}

#Name {
    background: #f5f4e9;
    color: #1f92bc;
    padding: 0 calc(var(--gov-unit) / 8);
    font-size: calc(0.8* var(--gov-unit));
}

#Function, #Translation {
    padding: 0 calc(var(--gov-unit) / 8);
    background: #45565f;
    font-size: calc(.6* var(--gov-unit));
}

#Title_Chapter {
    background: #f5f4e9;
    color: #45565f;
    text-shadow: none;
    padding: calc(0.25* var(--gov-unit));
    width: auto;
    max-width: calc(100% - (3 * var(--gov-unit)));
}

h1, h2, h3 {
    color: #1f92bc;
    text-transform: unset;
}

#Messages{ bottom: calc(2 * var(--gov-unit)); }
.Right{ background-color: #1f92bc; }
.Left{ background-color: #febf0f; }