/* Colloque JR Nancy */

#Title_Introduction, #SubTitle_Introduction, #Date, Title_Chapter{
	text-shadow: 0 0 40px #006A6F;
}

#Introduction, #Chapter{
	background-image: url('img/bk-jrnancy.png');
	background-repeat: no-repeat;
	background-size: contain;
}

#Title_Introduction{
	font-size: calc(2 * var(--gov-unit));
	text-transform: uppercase;
}

#SubTitle_Introduction{
	font-size: var(--gov-unit);
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	top: 45%;
}

#Copyright{
	left: var(--gov-unit);
}

#Title_Copyright{
	background: none;
	background-color: #006A6F;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 calc(0.5 * var(--gov-unit));
}

#SubTitle_Copyright{
	display: inline-block;
	background: none;
	background-color: #009099;
	padding: 0 calc(0.5 * var(--gov-unit));
	font-size: calc(0.4 * var(--gov-unit));
	line-height: calc(0.75 * var(--gov-unit));
}

#Name, #Function, #Translation{
	background: none;
}

#Name{
	background-color: #006A6F;
	font-size: calc(var(--gov-unit) / 2);
	line-height: var(--gov-unit);
	padding: 0 calc(0.5 * var(--gov-unit));
}

#Function, #Translation{
	padding: calc(0.175 * var(--gov-unit)) calc(0.5 * var(--gov-unit)) ;
	background-color: #009099;
	font-size: calc(var(--gov-unit) * 0.4);
}

.Right{
	background-color: #34BAB5
}

.Left{
	background-color: #009099
}