/* Les Cahiers Dynamiques */

#Title_Introduction { color: black; bottom: 45vh; }
#SubTitle_Introduction { color: #FFEC01; }
#Date { color: black; bottom: 35vh; }

#Title_Copyright {
    background: linear-gradient(90deg, rgba(226,0,48,1) calc(100% - 15vh), rgba(226,0,48,0) 100%);
	padding: 0 15vh 0 15vh;
}

#SubTitle_Copyright{ display: none;}

#Copyright::before{
	content: "";
	display: inline-block;
	background-image: url("img/cahiers-dynamiques.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width: auto;
	height: 100%;
	aspect-ratio: 800 / 620;
	position: absolute;
    left: 7.5vh;
}

#LowerThird{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(226,0,48,1) calc(100% - 24vh));
	border-radius: 1.4vh;
	overflow: hidden;
	bottom: 5vh;
	width: 65vw;
	padding: 0;
	border-color: black;
	border-style: solid;
}

#LowerThird::before{
	content: "";
	display: inline-table;
	background-image: url("img/cahiers-dynamiques.jpg");
	background-color: #E20030;
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: top right;
	text-shadow: none;
	height: auto;
	aspect-ratio: 800 / 620;
	transition: all 1s ease-in-out;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

#Name, #Function, #Translation{
	background: none;
	padding: unset;
	margin: 0;
	color: black;
	text-shadow: none;
	position: absolute;
	z-index: 0;
	width: 45vw;
	text-align: left;
	left: 2.5vh;
}

#Name{ top: 2.5vh; }
#Function{ top: 6.25vh; }
#Translation{ display: none; }

/*ON Animations*/
#LowerThird.ON {animation: frame-in 2s ease both;}
#LowerThird.ON::before {animation: logo-in 1s ease both;}
#LowerThird.ON #Name {animation: none;}
#LowerThird.ON #Function {animation: none;}
#LowerThird.ON #Translation {animation: none;}
/*Deleted Animations*/
#LowerThird.ON #Name::after {animation: none;}
#LowerThird.ON #Function::after {animation: none;}
#LowerThird.ON #Translation::after {animation: none;}
/*OFF Animations*/
#LowerThird.OFF { opacity: 1 !important; animation: frame-out 2s ease both;}
#LowerThird.OFF::before {animation: logo-out 1s ease both; animation-delay: 1s}
#LowerThird.OFF #Name {animation: none;}
#LowerThird.OFF #Function {animation: none;}
#LowerThird.OFF #Translation {animation: none;}

@keyframes logo-in{
	0% {width: 0;}
	100% {width: 20vh}
}

@keyframes logo-out{
	0% {width: 20vh;}
	100% {width: 0;}
}
@keyframes frame-in{
	0% {width: 0; height: 0; border-width: 0;}
	50% {width: 20vh; height: 15.5vh; border-width: 0.14vh;}
	100% {width: 65vw; height: 15.5vh; border-width: 0.14vh;}
}

@keyframes frame-out{
	0% {width: 65vw; height: 15.5vh; border-width: 0.14vh;}
	50% {width: 20vh; height: 15.5vh; border-width: 0.14vh;}
	100% {width: 0; height: 0; border-width: 0vh;}
}

#Chapter.ON #Title_Chapter{ text-shadow: 0 0 0 rgba(0,0,0,1), .27vh .27vh .54vh rgba(0,0,0,.27); transition: text-shadow 0s ease-in-out; }
#Chapter.OFF #Title_Chapter{ text-shadow: 0 0 1em rgba(0,0,0,0), .27vh .27vh .54vh rgba(0,0,0,0); transition: text-shadow 1s ease-in-out; }


#Messages { bottom: calc(3.5 * var(--gov-unit)); }
.Right{ background-color: #E20030; }
.Left{ background-color: #FFEC01; color: black; }