/* Challenge Michelet */

#Partenaire {
    background-image: url("img/logo-michelet.png");
    aspect-ratio: 845/447;
    height: calc( 1.5 * var(--gov-unit));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    bottom: var(--gov-unit);
    right: calc(1.5 * var(--gov-unit));
}

#Title_Introduction {
    top: unset;
    bottom: calc(1* var(--gov-unit));
    font-size: calc(0.75* var(--gov-unit));
    transform: translate(-50%, 0%);
    text-shadow: none;
}

#SubTitle_Introduction {
    background-color: #253473;
    border: calc(0.17* var(--gov-unit)) solid #fddc7e;
    padding: calc(0.25* var(--gov-unit)) calc(0.5* var(--gov-unit));
    font-size: calc(1.25* var(--gov-unit));
    text-shadow: none;
    top: 63%;
    border-radius: calc(1* var(--gov-unit));
}

#Date {
    top: 86%;
}

#Messages {
    padding-bottom: calc(3 * var(--gov-unit));
}

#Title_Chapter {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 calc(5* var(--gov-unit)) 0 rgba(37, 52, 115, 0.25);
    backdrop-filter: blur(calc(0.5* var(--gov-unit)));
    border-radius: calc(1* var(--gov-unit));
    border: calc(0.1* var(--gov-unit)) solid rgba(255, 255, 255, 0.25);
    width: max-content;
    padding: calc(0.25* var(--gov-unit)) calc(1* var(--gov-unit));
    text-shadow: none;
    color: #253473;
}