/* src/css/organigramme.css */

@charset "UTF-8";
@import "/src/css/fonts.css";
@import "colors.css";

@media only screen and (orientation: portrait) {

    #organigramme {
        position: relative;
        width: 80vw;
        height: 80vw;
        margin: auto;
        margin-top: calc((100vh - 80vw) / 2);    
    }

    #back{
        top: calc((100vh - 80vw) * -1 / 4);
        font-size: 3vw;
    }


    #focusbkg{
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
        border-radius: 2vw;
        padding: 1vw;
        margin: -1vw;
    }

    /*#focusbkg:after {
        width: 5vw;
        height: 5vw;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    }*/

    #focuspdf{
        border-radius: 1vw;
    }
    
    .name, .group, .agent {
        width: 10vw;
        height: 10vw;
        font-size: 1.25vw;
    }

    .name span{
        text-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
        max-width: 20vw;
    }

    .agent span {
        padding: 0.5vw;
        border-radius: 0.5vw;
        max-width: 20vw;
    }

    .agent span i {
        font-size: 1vw;
    }
    
    .agent.focus{
        width: 12.5vw;
        height: 12.5vw;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    }

    .central{
        width: 20vw;
        height: 20vw;
    }
    
    #root::after{
        background-size: 10vw;
    }

    #root.open {
        box-shadow: 0 0 5vw rgba(0, 0, 0, 0.25);
    }
    
    #root.open::after{
        background-size: 30vw;
    }

    .name::before{
        font-size: 1.5vw;
    }
}

@media only screen and (orientation: landscape) {

    #organigramme {
        position: relative;
        width: 80vh;
        height: 80vh;
        margin: auto;
        margin-top: 10vh;    
    }

    #back{
        top: -5vh;
        font-size: 3vh;
    }

    #focusbkg{
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.25);
        border-radius: 2vh;
        padding: 1vh;
        margin: -1vh;
    }

    /*#focusbkg:after {
        width: 5vh;
        height: 5vh;
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.25);
    }*/

    #focuspdf{
        border-radius: 1vh;
    }

    .name, .group, .agent {
        width: 10vh;
        height: 10vh;
        font-size: 1.25vh;
    }

    .name span{
        text-shadow: 0 0 1vh rgba(0, 0, 0, 0.5);

    }

    .name::before{
        font-size: 1.5vh;
    }

    .agent span {
        padding: 0.5vh;
        border-radius: 0.5vh;
        max-width: 20vh;
    }

    .agent span i {
        font-size: 1vh;
    }
    
    .agent.focus{
        width: 12.5vh;
        height: 12.5vh;
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.25);
    }

    .central{
        width: 20vh;
        height: 20vh;
    }
    
    #root::after{
        background-size: 10vh;
    }

    #root.open {
        box-shadow: 0 0 5vh rgba(0, 0, 0, 0.25);
    }
    
    #root.open::after{
        background-size: 30vh;
    }
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    font-family: Marianne;
    overflow: hidden;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#exporter {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 0;
}
#organigramme {
    position: relative;
}

#root{
    backdrop-filter: blur(5px);
}

#root.open {
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
}

#root::after{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background-image: url("/src/img/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    opacity: 1;
}
    
#root::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s ease;
    background-image: url("../img/bulle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    }
    
#root.open::after{
    opacity: 0;
}
    
#root.open::before{
    opacity: 0;
}

#back{
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    left: 50%;
}

#back::before{
    content: '\2B6E';
}

#focusbkg{
    transition: all 1s ease;
    transform: scale(0);
    display: block;
    z-index: 3;
    opacity: 0;
    background-color: gray;
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: 15%;
    cursor: default;
}

#focusbkg.ON{
    opacity: 1 !important;
    transform: scale(1);
}

/*#focusbkg:after {
    content: '';
    position: absolute;
    background-color: gray;
    transform: rotate(45deg);
    z-index: -2;
    left: -4%;
    top: 50%;
}*/

#focuspdf{
    border:none;
    width: 100%;
    height: 100%;
}

div:has(~ .focus), .focus ~ div{
    opacity: 0;
}

.name, .group, .agent {
    position: absolute;
    transition: all 1s ease;
    border-radius: 50%;
    z-index: 2;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

.group {
    cursor: pointer;
}

.group::after, .agent::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s ease;
    background-image: url("../img/bulle.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.open.group::after {
    opacity: 0;
}

.name{
    background-color: transparent;
    pointer-events:none;
    user-select: none;
    font-weight: bold;
    top: 50%;
    left: 50%;
}

.name::before{
    transition: all 1s ease;
    content: attr(data-short);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.name span {
    transition: all 1s ease;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 125%;
    opacity: 0;
}

.agent {
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.agent span {
    transition: all 1s ease;
    display: block;
    position: absolute;
    line-height: 100%;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.agent a{
    pointer-events: none;
    user-select: none;
}

.agent:hover span {
    opacity: 1;
}

.agent.focus span {
    opacity: 0 !important;
}

.agent.focus{
    top: 50% !important;
    left: 0% !important;
    z-index: 4;
}

.open {
    width: 100%;
    height: 100%;
    top: 50% !important;
    left: 50% !important;
    cursor: zoom-out !important;
}

.open > .name:first-child{
    font-weight: bolder;
    transform: translate(-50%, -50%) scale(2);
}

.open > .name:first-child::before, .central > .name:first-child::before{
    opacity: 0;
}

.open > .name:first-child span, .central > .name:first-child span{
    opacity: 1;
}

.central{
    top: 50% !important;
    left: 50% !important;
    z-index: 3;
}

.start {
    opacity: 0 !important;
    transform: translate(-50%, -50%) scale(0) !important;
    left: 50% !important;
    top: 50% !important;
}