/* CSS Document */

html, body{
    background-color: black;
    color: white;
    font-family: arial;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }

#parameters{
    background-color: gray;
    display: block;
    position: fixed;
    z-index: 1;
    width: 50%;
    top: 0px;
    left: 25%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    transform: translate(0px, calc(-100% + 15px));
    border-radius: 0 0 15px 15px;
    padding: 15px;
    transition: all 1s ease-in-out;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    }

#parameters:hover{
    transform: translate(0px, 0px);
    }

.material-icons{
    cursor: pointer;
    z-index: 1;
    }

#script{
    position: absolute;
    top: 50vh;
    left: 50%;
    width: 90%;
    height: fit-content;
    z-index: 0;
    }

div#script{ padding: 0 0 50vh 0; }