/* CSS Document */

@import "/streaming/v2/scripts/css/interface.css";
@import "/streaming/v2/scripts/css/normalize.css";

/* -------------------- Elements Styles -------------------- */

html{
	background-color: var(--button-hover-background);
    font-size: 0.3cm;
	padding: 2rem;
	overflow: auto;
	font-family: Marianne;
}

body{
	margin: auto;
	min-width: 640px;
	width: calc(100vw - 4rem);
	max-width: calc(1280px - 4rem);
	min-height: 480px;
	background-color: var(--background);
	box-shadow: 0 0 .5rem rgb(0 0 0 / 50%);
	border-radius: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 1.25rem;
}

hr{
	background-color: var(--button-background);
	border-style: none;
	height: .2rem;
	border-radius: .2rem;
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    margin-top: 0;
    color: var(--button-hover-background);
    font-style: italic;
}

label, span{ color: var(--button-hover-background); }

select{
    background-color: transparent;
    border-style: none;
    color: var(--text-color);
    text-align: left !important;
}

option{
    background-color: var(--input-background);
    color: var(--text-color);
}

input{ color: var(--text-color); }

input[type=number]{
    background: transparent;
    border-style: none;
}

input[type=date]{
    background: transparent;
    border-style: none;
	width: 10rem;
}

input[type=time]{
    background: transparent;
    border-style: none;
	width: 8rem;
}

input[type=file]{ display: none; }

input[type=checkbox]{
    margin-right: .5rem;
	height: 1.5rem;
	vertical-align: middle;
}

sup{ text-transform: lowercase; }

.hidden { display: none !important }

.entry{ position: relative; }

.playbutton{
    float: right;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNy44LjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjgzLjUgMjgzLjUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI4My41IDI4My41OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojN0E3OTdBO30NCjwvc3R5bGU+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQxLjcsMEM2My42LDAsMCw2My41LDAsMTQxLjdzNjMuNiwxNDEuOCwxNDEuNywxNDEuOGM3OC4yLDAsMTQxLjctNjMuNywxNDEuNy0xNDEuOFMyMTkuOCwwLDE0MS43LDB6DQoJIE0yMTMuNSwxNDQuN2wtMTEyLjEsNjQuN2MtMi45LDEuNi01LjIsMC4zLTUuMi0zVjc3YzAtMy4zLDIuMy00LjYsNS4yLTNsMTEyLjEsNjQuN0MyMTYuNCwxNDAuMywyMTYuNCwxNDMuMSwyMTMuNSwxNDQuN3oiLz4NCjwvc3ZnPg0K");
}

.preview{
    float: right;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 32 32'%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm-6 24V8l16.008 8L10 24z' fill='%237a797a' class='fill-4e4e50'%3E%3C/path%3E%3C/svg%3E");
}

.preview:hover{ background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 32 32'%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm-6 24V8l16.008 8L10 24z' fill='%23FFFFFF' class='fill-4e4e50'%3E%3C/path%3E%3C/svg%3E"); }

.upload{
    float: right;
    display: inline-block;
    height: 1.5rem;
    aspect-ratio: 225/150;
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4 6c-.7-3.4-3.7-6-7.4-6-2.9 0-5.4 1.6-6.6 4C2.3 4.4 0 6.9 0 10c0 3.3 2.7 6 6 6h13c2.8 0 5-2.2 5-5 0-2.6-2.1-4.8-4.6-5ZM14 9v4h-4V9H7l5-5 5 5h-3Z' fill='%237a797a' fill-rule='evenodd' class='fill-000000'%3E%3C/path%3E%3C/svg%3E");
}

.upload:hover{ background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4 6c-.7-3.4-3.7-6-7.4-6-2.9 0-5.4 1.6-6.6 4C2.3 4.4 0 6.9 0 10c0 3.3 2.7 6 6 6h13c2.8 0 5-2.2 5-5 0-2.6-2.1-4.8-4.6-5ZM14 9v4h-4V9H7l5-5 5 5h-3Z' fill='%23FFFFFF' fill-rule='evenodd' class='fill-000000'%3E%3C/path%3E%3C/svg%3E"); }

.movedown, .moveup {
    float: right;
    color: var(--button-hover-background);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 0 0 0.5rem;
}

.movedown:hover, .moveup:hover { color: white; }
.movedown::before{ content: "\25BC"; }
.moveup::before{ content: "\25B2"; }

.delete {
    display: block;
    width: 2.25rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 576 384'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %237a797a; %7D %3C/style%3E%3C/defs%3E%3C!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 1.2.0 Build 709) --%3E%3Cg%3E%3Cg id='Calque_1'%3E%3Cpath class='cls-1' d='M512,0H205.3c-17,0-33.3,6.8-45.3,18.8L9.4,169.4c-12.5,12.5-12.5,32.8,0,45.2l150.6,150.6c12,12,28.3,18.7,45.3,18.7h306.7c35.4,0,64-28.6,64-64V64c0-35.4-28.6-64-64-64ZM432.1,239c9.4,9.4,9.4,24.6,0,33.9-9.4,9.4-24.6,9.4-33.9,0l-46.2-47-47,47c-9.4,9.4-24.6,9.4-33.9,0-9.4-9.4-9.4-24.6,0-33.9l47-47-47.1-47.9c-9.4-9.4-9.4-24.6,0-33.9s24.6-9.4,33.9,0l47.1,47.9,47-47c9.4-9.4,24.6-9.4,33.9,0s9.4,24.6,0,33.9l-47,47,46.2,47Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top right;
    float: right;
    margin-left: 0.5rem;

    cursor: pointer;
}

.delete:hover { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 576 384'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23FFFFFF; %7D %3C/style%3E%3C/defs%3E%3C!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 1.2.0 Build 709) --%3E%3Cg%3E%3Cg id='Calque_1'%3E%3Cpath class='cls-1' d='M512,0H205.3c-17,0-33.3,6.8-45.3,18.8L9.4,169.4c-12.5,12.5-12.5,32.8,0,45.2l150.6,150.6c12,12,28.3,18.7,45.3,18.7h306.7c35.4,0,64-28.6,64-64V64c0-35.4-28.6-64-64-64ZM432.1,239c9.4,9.4,9.4,24.6,0,33.9-9.4,9.4-24.6,9.4-33.9,0l-46.2-47-47,47c-9.4,9.4-24.6,9.4-33.9,0-9.4-9.4-9.4-24.6,0-33.9l47-47-47.1-47.9c-9.4-9.4-9.4-24.6,0-33.9s24.6-9.4,33.9,0l47.1,47.9,47-47c9.4-9.4,24.6-9.4,33.9,0s9.4,24.6,0,33.9l-47,47,46.2,47Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.button {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--button-background);
    border-radius: 0.5rem;
	position: relative;
	margin: .25rem;
    margin-left: 0;
	cursor: pointer;
	color: white;
	font-size: 1.25rem;
	user-select: none;
    min-width: 2.5rem;
    text-align: center;
    vertical-align: text-bottom;
    height: 2.5rem;
    box-sizing: border-box;
}

.button:hover{ background-color: var(--button-hover-background); }

.group{
    display: inline-block;
    width: fit-content;
}

.video {
    width: calc(100% - 9rem);
    background-color: var(--button-background);
    border-radius: 0.5rem;
}

.description{
    margin-top: -1em;
    display: block;
    margin-bottom: 1em;
    font-style: italic;
}

.intrusion, .incendie, .reset {
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: 75%;
    aspect-ratio: 1;
    height: 12rem;
}
.intrusion { background-image: url("../img/intrusion-ico.png"); }
.incendie { background-image: url("../img/incendie-ico.png"); }
.reset { background-image: url("../img/reset-ico.png"); }