/* Festival du Cinéma */

body{
	margin:0;
	overflow:hidden;
	font-family: Marianne;
	}

#title{
	position: absolute;
	width: 100%;
	Bottom: 65vh;
	color: #1560BD;
	font-size: 7.5vh;
	font-weight: 800;
	text-align: center;
	line-height: 100%;
	text-transform: uppercase;
	text-shadow: 0 0 2vh rgba(0,0,0,1);
}

#message{
	position: absolute;
	width: 100%;
	Bottom: 27.5vh;
	color: #AA0011;
	font-size: 5vh;
	font-weight: 700;
    font-style: italic;
	text-align: center;
	line-height: 100%;
	text-transform: uppercase;
	text-shadow: 0 0 2vh rgba(0,0,0,1);
}

#date{
	position: absolute;
	width: 100%;
	Bottom: 22.5vh;
	font-size: 2.5vh;
	font-style: italic;
	text-transform: capitalize;
	opacity: 1;
	color: white;
	text-align: center;
	line-height: 100%;
    font-weight: 400;
}