/* Journées de Valorisation de la Recherche 2022 */

#name{ background: linear-gradient(90deg, rgba(47,64,119,0) 0%, rgba(47,64,119,1) 15vh,rgba(47,64,119,1) calc(100% - 15vh), rgba(47,64,119,0) 100%); }

.Right{ background-color: #2F4077; }
.Left{ background-color: #000000; }

#Title.welcome{ color: #2F4077; text-transform: uppercase; }
#Date{ color: #000000; font-weight: bold; font-size: 5vh; }

#TopBanner{ background: linear-gradient(90deg, rgba(47,64,119,1) calc(100% - 15vh), rgba(47,64,119,0) 100%); }

#Title.welcome sup{ text-transform:uppercase; }