/* PFUE / MNA */

body.welcome::before{
    content: "";
    display: block;
    position: fixed;
    top: 0vh;
    left: 0vh;
    width: calc(100vw - 20vh);
    height: calc(100vh - 20vh);
    background-color: rgba(0,39,118,0);/* Couleur Fond Welcome BKG*/
	border: 10vh solid white;
}

#Partenaire{
    position: absolute;
    top: 5vh;
    left: 7.5vh;
    width: calc(100% - 7.5vh);
    height: 13vh;
    background-image: url("src/img/pfue.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1000;
}

#Partenaire.welcome{
    position: absolute;
    top: 15vh;
    left: 50%;
    margin-left: -10vh;
    width: 22.5vh;
    height: 22.5vh;
    border-radius: 100%;
    background-color: white;
    background-image: url("src/img/pfue-grey.svg");
    background-size: 13.75vh;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1000;
}
#Title.welcome{ Bottom: 45vh; }
#Title.chapter{ color: white;  }/*rgb(0,39,118)*/

#Title.banner, #SubTitle.banner{
	padding: 0 15vh 0 2.5vh;
	line-height: 2.5vh;
	font-size: 2vh;
}

#Title.banner{
	color: white;
	background: linear-gradient(90deg, rgba(0,39,118,1) calc(100% - 15vh), rgba(0,39,118,0) 100%);
}

#SubTitle.banner{
	display: block;
	color: white;
	background: linear-gradient(90deg, rgba(226,32,25,1) calc(100% - 15vh), rgba(226,32,25,0) 100%);
}

#SubTitle.welcome{
	Bottom: 45vh;
	transform: translate(0, calc(100% + 5vh));
	font-size: 5vh;
	text-transform: none;
}

#Date{ Bottom: 22.5vh; }

#name{ background: linear-gradient(90deg, rgba(0,39,118,0) 0%, rgba(0,39,118,1) 15vh,rgba(0,39,118,1) calc(100% - 15vh), rgba(0,39,118,0) 100%); }
#function{ background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15vh,rgba(255,255,255,1) calc(100% - 15vh), rgba(255,255,255,0) 100%); color: black; }
#translation{ background: linear-gradient(90deg, rgba(226,32,25,0) 0%, rgba(226,32,25,1) 15vh,rgba(226,32,25,1) calc(100% - 15vh), rgba(226,32,25,0) 100%); color: white; }

.Right{ background-color: rgb(0,39,118); }
.Left{ background-color: rgb(226,32,25); }

#Marianne.welcome{
    top: calc(100% - 13.5vh);
    right: 0;
    height: 12.5vh;
    background-size: 17.5vh;
    width: 100%;
    background-position: top center;
}

#ENPJJ.welcome{ display: none; }

#TopBanner { left: 30vh; }

#Title.banner::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 2.5vh solid rgb(0,39,118);
    border-left: 2.5vh solid transparent;
    position: absolute;
    left: -2.5vh;
	top: 0vh;
}

#SubTitle.banner::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 2.5vh solid rgb(226,32,25);
    border-left: 2.5vh solid transparent;
    position: absolute;
    left: -2.5vh;
    bottom: 0vh;
}

#audio-copyright{ color: rgb(0,39,118); }

