/* Ferme Urbaine du Trichon */

#ENPJJ, #Marianne{ display: none; }

#Title_Introduction{
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    font-size: calc(1.5 * var(--gov-unit));
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 100%;
    text-shadow: calc(0.05 * var(--gov-unit)) calc(0.05 * var(--gov-unit)) calc(0.1 * var(--gov-unit)) rgba(0,0,0,.25);   
    }

#SubTitle_Introduction{
    color: #AB0921;
    position: absolute;
    width: max-content;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: var(--gov-unit);
    font-weight: bold;
    text-align: center;
    text-shadow: calc(0.05 * var(--gov-unit)) calc(0.05 * var(--gov-unit)) calc(0.1 * var(--gov-unit)) rgba(0,0,0,.25);
    line-height: 100%;
}

#Date{
    color: #1B7147;
    transform: translate(-50%,-100%);
    top: 95%;
}

#Title_Chapter{ color: #AB0921; }

h1, h2, h3 { color: white; }