/* RESP - IRA */

#ENPJJ{
    
    height: calc(1.5 * var(--gov-unit));
    width: calc(100% - (1.5 * var(--gov-unit)));
    bottom: var(--gov-unit);
    left: calc(1.5 * var(--gov-unit));
    background-image :url("img/resp-ira.svg");
}

#Partenaire{
    background-image :url("img/resp-partenaire.svg");
    height: calc(1.5 * var(--gov-unit));
    width: calc(100% - (1.5 * var(--gov-unit)));
    background-repeat: no-repeat;
    background-position: bottom right;
    bottom: var(--gov-unit);
}

#Messages {
    bottom: calc(2.5 * var(--gov-unit));
}