/* CSS Document */
@charset "UTF-8";
@import "obs.css";
@import "normalize.css";

*:focus {outline:none !important}

body{
	margin: var(--text-maring);
}

a {text-decoration: none !important;width: calc(100%-2px);margin: 1px;}
a:link, a:visited {color: var(--obs-button-background);}
a:hover {color: var(--obs-button-hover-background);}
a:active {color: var(--text-color);}

/*Scroll Barre CSS*/

::-webkit-scrollbar {
	width: var(--text-maring);
	height: var(--text-maring);
}
::-webkit-scrollbar-thumb {
	background: var(--obs-button-background);
	border-radius: calc(var(--text-maring)/2);
}
::-webkit-scrollbar-thumb:hover{
	background: var(--obs-button-hover-background);
}
::-webkit-scrollbar-track{
	background: var(--obs-background);
	border-radius: var(--element-radius);
}

/*TOGGLE SWITCH*/
.switch{
  position: relative;
  display: inline-block;
  width: calc(var(--switch-size)*14);
  height: calc(var(--switch-size)*8);
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-disable-color);
  -webkit-transition: var(--switch-transition);
  transition: var(--switch-transition);
}

.slider:before{
  position: absolute;
  content: "";
  height: calc(var(--switch-size)*6);
  width: calc(var(--switch-size)*6);
  left: var(--switch-size);
  bottom: var(--switch-size);
  background-color: var(--switch-button-color);
  -webkit-transition: var(--switch-transition);
  transition: var(--switch-transition);
}

input:checked + .slider {
  background-color: var(--switch-checked-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--switch-checked-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--switch-size)*6));
  -ms-transform: translateX(calc(var(--switch-size)*6));
  transform: translateX(calc(var(--switch-size)*6));
}

/* Rounded sliders */
.slider.round {
  border-radius: calc(var(--switch-size)*8);
}

.slider.round:before {
  border-radius: 50%;
}

/*OBS*/
.panel {
	background: var(--obs-background);
	color: var(--text-color);
	font:normal var(--text-size) -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	}

.section, .subsection{margin: var(--element-maring) 1px;}
.section{font-weight: bold;}
.subsection{font-style: italic;}

.select-tatus{width: 15px; display: inline-block;}

.dropdown {
	background: var(--obs-button-background);
	border-style: none;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	line-height: var(--element-height);
	border-radius: var(--element-radius);
	cursor: pointer;
	padding: 0 var(--text-maring);
	margin: 1px;
}

.dropdown.active {background: var(--obs-input-background);}

.dropdown:before{
	content: "\25bc";
	position: relative;
	float: right;
	top: 0px;
	right: var(--text-maring);
}

.dropdown-content {
	display: none;
	background-color: var(--obs-input-background);
	z-index: 1;
	max-height: calc(10*var(--element-height));
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown.active .dropdown-content {
	display: block;
}

.half{width: calc(50% - 2px); max-height: var(--element-height);}
.half:nth-child(odd){float: right;}
.half:nth-child(even){float: left;}

.full{ width:calc(100% - 2px); min-height: var(--element-height);}

.parameter{font-style: normal; font-weight: bold; line-height: var(--element-height);}
.parameter label{margin-right: var(--text-maring);}

.linked{ margin-left: calc(var(--element-height)/2); width: calc(100% - (var(--element-height)/2)); position: relative; }

.linked .parameter::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: calc(var(--element-height)/2);
	margin-top: calc(var(--switch-size)*8/2 - 1px);
	border-top: 2px solid var( --switch-checked-color);
	margin-right: 2px;
}

.linked::before{
	content: "";
	position: absolute;
	left: 0px;
	top: calc(var(--switch-size)*8/2 - 1px);
	height: calc(100% - var(--element-height));
	border-left: 2px solid var(--switch-checked-color);
}

.lock{
	content: "8";
	color: var( --switch-checked-color) !important;
	position: absolute;
	left: 1px;
	top: calc(50% - (var(--switch-size)*8/2 - 1px)/2);
    height: calc(var(--switch-size)*6);
    width: calc(var(--switch-size)*6);
	background-color: var(--obs-background);
	transform: translate(-50%,-50%);
	border-radius: 50%;
	line-height: calc(var(--switch-size)*6);
	user-select: none !important;
	cursor: pointer;
    text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}

.spacer{
	width:100%;
	height: var(--element-height);
	clear: both;
}

input#collection-ref, input#stream-info-style{
	background-color: transparent;
	border-style: none;
	width: calc(100% - 25px);
	color: var(--text-color) !important;
	font-size: var(--text-size);
	text-align: left;
	line-height: var(--element-height);
	margin: 0;
	padding: 0;
}

input#stream-info-style{
     cursor: pointer !important;
     user-select: none;
}

textarea, input{
	background: var(--obs-input-background);
	border-radius: var(--element-radius);
	border-style: none;
	box-sizing: border-box;
	color: var(--text-color) !important;
	font-size: var(--text-size);
	text-align: left;
	line-height: var(--element-height);
	margin: 1px;
	padding: 0 var(--text-maring);
}

textarea{
	resize: vertical;
	height: calc(3*var(--element-height));
}

button{
	background: var(--obs-button-background);
	border-style: none;
	color: var(--text-color);
	line-height: var(--element-height) !important;
	border-radius: var(--element-radius);
	padding: 0 var(--text-maring);
	margin: 1px;
	text-align:center;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	font:normal var(--text-size) -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

button:hover{background: var(--obs-button-hover-background);}

.running{ background: var(--obs-button-hover-background); cursor: not-allowed; }

hr{border-style: none; background-color: var(--obs-input-background); height: 1px;}

ul[id^="predefined"]{
    list-style: none;
	margin: 0;
	padding: 0;
}

ul[id^="predefined"] li {
    padding: 0 50px 0 var(--text-maring);
    text-align: left;
    cursor: pointer;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
ul[id^="predefined"] li:hover {
	background: var(--obs-button-hover-background);
}

.delete{
	height: var(--element-height);
	width: var(--element-height);
	color: var(--obs-button-background);
	position: absolute;
	top: 0px;
	right: 0px;
}

.delete:hover{ color: firebrick; }

.file, #predefined-styles .css{
	color: var(--obs-button-background);
	position: absolute;
	top: 0px;
	right: 25px;
}

#predefined-styles .css::after{ content: ".css"; }

.hidden, .date, .function-full, .translation, .title-full, .chapter-full, .banner-full, .banner-class, .subtitle, .value, #predefined-stream-info .css, #predefined-stream-info .style{ display: none; }

*[data-value='none']::before { content: "Sélectionner un type de bandeau..."; }
*[data-value='chat']::before { content: "Annonce simple"; }
*[data-value='phone']::before { content: "Numéro de téléphone"; }
*[data-value='emergency']::before { content: "Message urgent ou important"; }