/* CSS Document */

body{
	margin:0;
	overflow:hidden;
	font-family: Marianne;
	}

#Title{
	position: absolute;
	width: 100%;
	top: 45vh;
	font-size: 5vh;
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 100%;
	text-shadow: .27vh .27vh .54vh rgba(0,0,0,.27);
}

#Title sup{
    text-transform:lowercase;
    line-height: 50%;
}

#SubTitle{
	position: absolute;
	width: 100%;
	top: 50vh;
	font-size: 10vh;
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 100%;
	text-transform: uppercase;
	text-shadow: .27vh .27vh .54vh rgba(0,0,0,.27);
}

#Date{
	position: absolute;
	width: 100%;
	Bottom: 32.5vh;
	font-size: 2.5vh;
	font-style: italic;
	text-transform: capitalize;
	opacity: 1;
	color: white;
	text-align: center;
	line-height: 100%;
}