/* CSS Document */

/* CSS Document */

@import "../../../streaming/v2/scripts/css/interface.css";
@import "../../../streaming/v2/scripts/css/normalize.css";

@media only screen and (min-resolution: 70dpi){ html { font-size: 8pt; } }
@media only screen and (min-resolution: 100dpi){ html { font-size: 10pt; } }
@media only screen and (min-resolution: 130dpi){ html { font-size: 12pt; } }

/* -------------------- Elements Styles -------------------- */

html{
	background-color: var(--button-hover-background);
    font-size: 0.3cm;
	padding: 2rem;
	overflow: auto;
	font-family: Marianne;
}

body{
	margin: auto;
	width: 640px;
	min-height: 480px;
	background-color: var(--background);
	box-shadow: 0 0 .5rem rgb(0 0 0 / 50%);
	border-radius: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 1.25rem;
    position: relative;
}

#ref::before{
    content: 'Demande d\'intervention technique n°';
}

hr{
	background-color: var(--button-background);
	border-style: none;
	height: .2rem;
	border-radius: .2rem;
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    margin: 0 2rem 2rem;
    color: var(--button-hover-background);
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}

label, span{ color: var(--button-hover-background); }

span{ display: block; }

label{
    vertical-align: top;
    display: flex;
}

select{
    background-color: transparent;
    border-style: none;
    color: var(--text-color);
    text-align: left !important;
    margin-right: 1.5vw;
}

option{
    background-color: var(--input-background);
    color: var(--text-color);
}

input[type=text], input[type=date]{
    border: none;
    color: white;
    background: none;

}

input[type=text]{ width: 100%; }

textarea{
    overflow: auto;
    resize: vertical;
    min-height: 15rem;
    width: 100%;
    margin: 0.25vw 0;
    border: none;
    border-radius: 0.5rem;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
}

sup{ text-transform: lowercase; }


.cycle{
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    top: 2rem;
    border-radius: 100%;
    color: var(--background);
    background-color: var(--button-hover-background);
    text-align: center;
    line-height: 2rem;
}

.cycle:hover::before {
    position: absolute;
    display: block;
    top: 125%;
    right: 0;
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 .5rem rgb(0 0 0 / 50%);
}

.cycle.canceled:hover::before{ content: "Annulée"; }
.cycle.pending:hover::before{ content: "Envoyée"; }
.cycle.accepted:hover::before{ content: "Acceptée"; }
.cycle.quoted:hover::before{ content: "Devisé"; }
.cycle.approved:hover::before{ content: "Approuvé"; }
.cycle.finished:hover::before{ content: "Terminée"; }
.cycle.closed:hover::before{ content: "Clôturée"; }

.pending{ background-color: white !important; cursor: pointer; }
.accepted, .approved{ background-color: #FFE552 !important; cursor: pointer; }
.quoted{ background-color: #AD4847 !important; cursor: pointer; }
.finished{ background-color: #34CB6A !important; cursor: pointer; }


.canceled::before{
	content: "\2715";
	color: white
}

.canceled{
	background-color: var(--input-background) !important;
	user-select: none;
	pointer-events: none;
}

.closed::before{
	content: "\2713" !important;
	color: white;
}

.closed{
	background-color: var(--input-background);
	user-select: none;
	pointer-events: none;
}


.hidden{ display: none !important; }

.info{
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.action{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--button-background);
    border-radius: 0.5rem;
	position: relative;
	margin-right: 0.5rem;
    margin-top: 2rem;
	cursor: pointer;
	color: white;
	font-size: 1.25rem;
	user-select: none;
    min-width: 2.5rem;
    text-align: center;
    vertical-align: text-bottom;
    height: 3.5rem;
    box-sizing: border-box;
}

.action:hover{ background-color: var(--button-hover-background); }

.action.accept{ background-color: #FFE552; color: var(--background) !important; }
.action.quote{ background-color: #AD4847; }
.action.approve{ background-color: #34CB6A; }
.action.close{ background-color: var(--input-background); }

.reset{
    display: inline-block;
    color: white;
    width: 2rem;
    height: 2rem;
    text-align: right;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    float: left;
}

.reset::before{
    content: "\27F3";
}
.alertbox {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    color: var(--background);
    padding: 0.75rem 0.5rem 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 50%);
    animation-name: ComeDown;
    animation-duration: 0.5s;
}

.alertbox::before {
    content: "\2714";
    margin-right: 0.5rem;
    color: #34CB6A;
}

.alertbox::after {
    content: "";
    position: absolute;
    background-color: #34CB6A;
    height: 0.25rem;
    display: block;
    left: 0;
    top: 0;
    animation-name: Timeout;
    animation-duration: 3s;
}

@keyframes Timeout {
  from { width: 100%; }
  to { width: 0%; }
}

@keyframes ComeDown {
    from { transform: translate(0%,-100%); }
  to { transform: translate(0%,0%); }
}

/* -------------------- Phone Styles -------------------- */

@media only screen and (orientation: portrait) {

    html{
        font-size: 3vw;
        padding: 0;
        overflow: auto;
        font-family: Marianne;
        width: 100%;
        height: 100%;
    }

    body{
        margin: 0;
        padding: 2rem;
        width: 100%;
        min-height: 100%;
        box-shadow: none;
        border-radius: 0;
        color: var(--text-color);
        font-size: 1.25rem;
    }

    #ref::before{
        content: 'Intervention n°';
    }
}

/* -------------------- Print Styles -------------------- */

:root { --gov-unit: calc(297mm / 70); }

@page{
    size: A4;
    margin: calc(4 * var(--gov-unit));
    margin-top: calc(2 * var(--gov-unit));
}

@media only print{

    *{
        font-size: 10pt !important;
        color: black !important;}

    html{
        width: 100%;
        background-color: unset;
        padding: unset;
        overflow: visible;
        }

    body{
        background-color: unset;
        box-shadow: unset;
        border-radius: unset;
        margin: auto;
        height: 297mm;
        }

    body::before{
        content: "";
        display: block;
        width: 32mm;
        height: 24mm;
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 89.6 68.3" style="enable-background:new 0 0 89.6 68.3;" xml:space="preserve"><style type="text/css">.st0{clip-path:url(%23SVGID_00000081628568703900933990000003337691727467437754_);}.st1{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);}.st2{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%23FFFFFF;}.st3{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%23273375;}.st4{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%23E30613;}.st5{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%239D9D9C;}</style><g id="Mnisère_de_la_Justice__x28_100mm_x29__00000183213468313638482440000016493365459427641260_"><g><defs><rect id="SVGID_1_" width="89.6" height="68.3"/></defs><clipPath id="SVGID_00000170261647539128064400000014998631768868672905_"><use xlink:href="%23SVGID_1_" style="overflow:visible;"/></clipPath><polygon style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" points="6.7,18.1 4.5,21.8 2.3,18.1 0,18.1 0,27.1 1.9,27.1 1.9,20.7 3.9,24 5.2,24 7.2,20.7 7.2,27.1 9,27.1 9,18.1 "/><rect x="11.6" y="18.1" style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" width="1.8" height="9.1"/><polygon style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" points="15.9,18.1 18.3,18.1 22.3,24.6 22.3,18.1 24.2,18.1 24.2,27.1 21.8,27.1 17.8,20.6 17.8,27.1 15.9,27.1 "/><rect x="26.7" y="18.1" style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" width="1.8" height="9.1"/><g style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);"><defs><rect id="SVGID_00000168818140918563258720000003550688915969602973_" y="0" width="89.6" height="68.3"/></defs><clipPath id="SVGID_00000008857956629938073410000015625336508139161278_"><use xlink:href="%23SVGID_00000168818140918563258720000003550688915969602973_" style="overflow:visible;"/></clipPath><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M31.6,24.7c0.5,0.7,1.3,1.1,2,1.1c0.7,0,1.2-0.4,1.2-1c0-1.6-4.1-1.3-4.1-4.3c0-1.4,1.2-2.6,2.9-2.6c1.4,0,2.4,0.6,3.2,1.5l-1.3,1.2c-0.5-0.7-1.1-1.1-1.8-1.1c-0.6,0-1,0.4-1,0.9c0,1.6,4.1,1.2,4.1,4.3c0,1.7-1.3,2.7-3,2.7c-1.5,0-2.6-0.6-3.4-1.5L31.6,24.7z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="37.6,18.1 45,18.1 45,19.7 42.2,19.7 42.2,27.1 40.4,27.1 40.4,19.7 37.6,19.7 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M46.6,18.1h5.3v1.6h-3.4v2.1h2.9v1.6h-2.9v2.3h3.4v1.6h-5.3V18.1z M46.8,15.6h1.9l1.5,1.7h-1.7L46.8,15.6z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M54,18.1h2.8c2,0,3.2,1,3.2,2.7c0,1.1-0.5,1.9-1.4,2.3l2.8,4h-2.2l-2.4-3.7h-0.9v3.7H54V18.1z M55.9,19.6v2.3h1c0.8,0,1.2-0.4,1.2-1.2c0-0.7-0.5-1.1-1.2-1.1H55.9z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="62.6,18.1 67.8,18.1 67.8,19.6 64.4,19.6 64.4,21.7 67.3,21.7 67.3,23.3 64.4,23.3 64.4,25.6 67.8,25.6 67.8,27.1 62.6,27.1 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M0,31.1h3.6c2.9,0,4.8,2.1,4.8,4.5c0,2.4-1.9,4.5-4.8,4.5H0V31.1z M1.9,32.8v5.7h1.7c1.7,0,2.9-1.3,2.9-2.9c0-1.6-1.2-2.9-2.9-2.9H1.9z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="10.2,31.1 15.5,31.1 15.5,32.7 12,32.7 12,34.8 14.9,34.8 14.9,36.4 12,36.4 12,38.6 15.5,38.6 15.5,40.2 10.2,40.2 "/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="21,31.1 22.8,31.1 22.8,38.5 26.2,38.5 26.2,40.2 21,40.2 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M30.5,31.1h2.4l3.4,9.1h-2l-0.9-2.4h-3.6l-0.9,2.4h-2L30.5,31.1z M33,36.3l-1.2-3.4l-1.2,3.4H33z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M40.3,42.4c-0.3,0-0.5,0-0.7-0.1v-1.6c0.1,0,0.3,0,0.5,0c0.8,0,1.2-0.3,1.2-1.3v-8.4h1.8v8.3C43.1,41.5,42.2,42.4,40.3,42.4"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M50.9,31.1h1.8v5.5c0,2.4-1.4,3.8-3.7,3.8c-2.3,0-3.7-1.4-3.7-3.8v-5.5h1.8v5.7c0,1.2,0.7,1.9,1.8,1.9c1.1,0,1.8-0.7,1.8-1.9V31.1z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M55.5,37.7c0.5,0.7,1.3,1.1,2,1.1c0.7,0,1.2-0.4,1.2-1c0-1.6-4.1-1.3-4.1-4.3c0-1.4,1.2-2.6,2.9-2.6c1.4,0,2.4,0.6,3.2,1.5l-1.3,1.2c-0.5-0.7-1.1-1.1-1.8-1.1c-0.6,0-1,0.4-1,0.9c0,1.6,4.1,1.2,4.1,4.3c0,1.7-1.3,2.7-3,2.7c-1.5,0-2.6-0.6-3.4-1.5L55.5,37.7z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="61.5,31.1 68.9,31.1 68.9,32.8 66.1,32.8 66.1,40.2 64.3,40.2 64.3,32.8 61.5,32.8 "/><rect x="70.5" y="31.1" style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" width="1.8" height="9.1"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M81.3,37.5l1.4,1.1c-0.8,1.1-2.2,1.9-3.8,1.9c-2.9,0-4.8-2.2-4.8-4.8c0-2.6,2-4.8,4.8-4.8c1.6,0,3,0.7,3.8,1.8l-1.4,1.1c-0.5-0.7-1.3-1.2-2.4-1.2c-1.7,0-2.9,1.3-2.9,3.1c0,1.7,1.2,3.1,2.9,3.1C80,38.7,80.8,38.2,81.3,37.5"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="84.3,31.1 89.6,31.1 89.6,32.7 86.2,32.7 86.2,34.8 89.1,34.8 89.1,36.4 86.2,36.4 86.2,38.6 89.6,38.6 89.6,40.2 84.3,40.2 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M29.5,65.2c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C28.9,65.6,29.2,65.2,29.5,65.2 M30.1,67h-0.2c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C29.2,68.3,29.7,67.8,30.1,67 M29.8,64.4l1.3-1.2V63h-0.7l-0.8,1.3H29.8z M25.8,65.2h0.6l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3h-0.2c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5H28l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1L25.8,65V65.2z M25,65.1c0.1-0.2-0.1-0.4-0.2-0.4c-0.5,0-1.2,0.5-1.4,1.1h0.2c0.2-0.2,0.5-0.5,0.7-0.6l-1,2.6c-0.1,0.2,0.1,0.4,0.2,0.4c0.5,0,1.1-0.5,1.3-1.1h-0.2c-0.2,0.2-0.5,0.5-0.7,0.6L25,65.1z M25.2,63.8c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C24.7,63.6,24.9,63.8,25.2,63.8 M19.3,67.8c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9c0.3-0.4,1-0.8,1.3-0.8c0.2,0,0.2,0.2,0,0.4l-1.1,2.1c-0.1,0.2,0,0.5,0.3,0.5c0.5,0,1.2-0.5,1.4-1.1h-0.2c-0.2,0.2-0.5,0.5-0.7,0.6l0.9-1.9c0.1-0.2,0.2-0.5,0.2-0.6c0-0.3-0.2-0.5-0.5-0.5c-0.5,0-0.9,0.5-1.5,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.2,0-0.4,0.2-0.6,0.4v0.1c0.3,0,0.5,0.5,0.3,1L19.3,67.8z M19.3,65.5c0.1-0.4,0.1-0.8-0.3-0.8c-0.4,0-0.5,0.3-0.9,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.4,0-0.7,0.6-1,1.1h0.2c0.2-0.3,0.3-0.4,0.5-0.4c0.2,0,0.2,0.2,0,0.8l-0.7,1.6c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9c0.2-0.2,0.4-0.5,0.6-0.7H19.3z M15.2,65.2c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C14.6,65.6,15,65.2,15.2,65.2 M15.9,67h-0.2c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C14.9,68.3,15.4,67.8,15.9,67 M11.5,65.2h0.6l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3H13c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5h0.9l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1L11.5,65V65.2z M8.2,67.3c0-0.8,0.9-1.9,1.4-1.9c0.1,0,0.2,0,0.3,0l-0.5,1.4c-0.3,0.4-0.8,0.8-1,0.8C8.2,67.6,8.2,67.5,8.2,67.3 M11,64.6l-0.3,0l-0.3,0.3h-0.1c-1.5,0-2.8,1.7-2.8,2.9c0,0.3,0.2,0.5,0.5,0.5c0.4,0,0.8-0.6,1.2-1.2l0,0.2c-0.1,0.6,0.1,0.9,0.5,0.9c0.4,0,0.7-0.6,1-1.1h-0.2c-0.2,0.3-0.3,0.4-0.5,0.4c-0.1,0-0.2-0.3,0-0.8L11,64.6z M7.7,65.5c0.1-0.4,0.1-0.8-0.3-0.8c-0.4,0-0.5,0.3-0.9,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.4,0-0.7,0.6-1,1.1h0.2c0.2-0.3,0.3-0.4,0.5-0.4c0.2,0,0.2,0.2,0,0.8l-0.7,1.6c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9C6.6,66,6.8,65.8,7,65.5H7.7z M2.6,68.2L2.7,68c-0.9-0.2-1-0.2-0.6-1.1l0.4-1h1c0.4,0,0.4,0.2,0.4,0.7H4l0.6-1.6H4.4c-0.2,0.4-0.4,0.7-0.9,0.7h-1L3,64.2c0.2-0.4,0.3-0.5,0.9-0.5h0.4c0.6,0,0.7,0.2,0.7,0.8h0.2l0.2-1.1H1.8l-0.1,0.2c0.7,0.1,0.8,0.2,0.4,1.1l-0.8,2.2c-0.3,0.9-0.5,1-1.3,1.1L0,68.2H2.6z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M20.6,56.9c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C20,57.3,20.3,56.9,20.6,56.9 M21.2,58.7H21c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C20.3,60,20.8,59.5,21.2,58.7 M20.9,56.1l1.3-1.2v-0.1h-0.7l-0.8,1.3H20.9z M16.9,56.9h0.6l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3h-0.2c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5h0.9l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1l-0.8,0.1V56.9z M16.1,56.8c0.1-0.2-0.1-0.4-0.2-0.4c-0.5,0-1.2,0.5-1.4,1.1h0.2c0.2-0.2,0.5-0.5,0.7-0.6l-1,2.6c-0.1,0.2,0.1,0.4,0.2,0.4c0.5,0,1.1-0.5,1.3-1.1h-0.2c-0.2,0.2-0.5,0.5-0.7,0.6L16.1,56.8z M16.3,55.5c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C15.8,55.3,16,55.5,16.3,55.5 M12.7,59.4l1.9-4.9l-0.1-0.1l-1.2,0.1v0.1l0.2,0.2c0.2,0.2,0.1,0.3,0,0.8l-1.4,3.8c-0.1,0.2,0,0.5,0.3,0.5c0.5,0,1.1-0.5,1.3-1.1h-0.2C13.4,59.1,13,59.4,12.7,59.4 M9.2,59c0-0.8,0.9-1.9,1.4-1.9c0.1,0,0.2,0,0.3,0l-0.5,1.4c-0.3,0.4-0.8,0.8-1,0.8C9.3,59.3,9.2,59.2,9.2,59 M12,56.3l-0.3,0l-0.3,0.3h-0.1c-1.5,0-2.8,1.7-2.8,2.9c0,0.3,0.2,0.5,0.5,0.5c0.4,0,0.8-0.6,1.2-1.2l0,0.2c-0.1,0.6,0.1,0.9,0.5,0.9c0.4,0,0.7-0.6,1-1.1h-0.2c-0.2,0.3-0.3,0.4-0.5,0.4c-0.1,0-0.2-0.3,0-0.8L12,56.3z M5.3,60.7c0-0.4,0.3-0.6,0.8-0.8c0.2,0.1,0.4,0.2,0.7,0.3c0.5,0.2,0.7,0.2,0.7,0.4c0,0.3-0.6,0.6-1.3,0.6C5.6,61.1,5.3,61,5.3,60.7 M6.6,58.5c-0.2,0-0.3-0.2-0.3-0.4c0-0.6,0.3-1.5,0.8-1.5c0.2,0,0.3,0.2,0.3,0.4C7.4,57.7,7.1,58.5,6.6,58.5 M8.1,60.3c0-0.4-0.4-0.6-1-0.8c-0.5-0.2-0.8-0.2-0.8-0.4c0-0.1,0.1-0.3,0.3-0.4c0.9,0,1.4-0.8,1.4-1.5c0-0.1,0-0.3-0.1-0.4h0.7l0.1-0.4H7.7c-0.1-0.1-0.3-0.1-0.5-0.1c-0.9,0-1.5,0.8-1.5,1.5c0,0.5,0.3,0.8,0.7,0.9C6,59,5.7,59.2,5.7,59.4c0,0.2,0.1,0.3,0.2,0.4c-1,0.3-1.4,0.6-1.4,1.1c0,0.5,0.6,0.7,1.3,0.7C7.1,61.6,8.1,60.9,8.1,60.3 M3.4,57.5c0.4,0,0.4,0.2,0.4,0.7h0.3l0.6-1.6H4.4c-0.2,0.4-0.4,0.7-0.9,0.7h-1L3,55.9c0.2-0.4,0.3-0.5,0.9-0.5h0.4c0.6,0,0.7,0.2,0.7,0.8h0.2L5.5,55H1.8l-0.1,0.2c0.7,0.1,0.8,0.2,0.4,1.1l-0.8,2.2c-0.3,0.9-0.5,1-1.3,1.1L0,59.9h4.1l0.7-1.2H4.6c-0.5,0.4-1,0.9-1.9,0.9c-1.1,0-1,0-0.6-1l0.4-1.1H3.4z M4,54.7l1.3-0.9v-0.1H4.5l-0.7,1H4z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M20.2,48.6c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C19.6,49,19.9,48.6,20.2,48.6 M20.8,50.4h-0.2C20.3,50.8,20,51,19.7,51c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C19.9,51.7,20.4,51.2,20.8,50.4 M20.4,47.8l1.3-1.2v-0.1H21l-0.8,1.3H20.4z M16.6,48.6h0.5l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3H18c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5h0.9l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1l-0.6,0.1V48.6z M16.2,48.9c0.1-0.4,0.1-0.8-0.3-0.8c-0.4,0-0.5,0.3-0.9,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.4,0-0.7,0.6-1,1.1h0.2c0.2-0.3,0.3-0.4,0.5-0.4c0.2,0,0.2,0.2,0,0.8l-0.7,1.6c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9c0.2-0.2,0.4-0.5,0.6-0.7H16.2z M12.1,48.6c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C11.5,49,11.8,48.6,12.1,48.6 M12.7,50.4h-0.2c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C11.8,51.7,12.3,51.2,12.7,50.4 M8.2,51.2c-0.2,0-0.4-0.2-0.4-0.3c0,0,0.1-0.3,0.2-0.5l0.3-0.8c0.3-0.4,0.8-0.8,1.1-0.8c0.2,0,0.3,0.1,0.3,0.4C9.6,49.9,8.9,51.2,8.2,51.2 M10.3,48.9c0-0.5-0.2-0.7-0.6-0.7c-0.5,0-0.9,0.5-1.3,1.1l1.1-2.9l-0.1-0.1l-1.2,0.1v0.1l0.2,0.2c0.2,0.2,0.1,0.3,0,0.8l-1.2,3.1c-0.1,0.2-0.2,0.5-0.2,0.6c0,0.3,0.4,0.6,0.8,0.6C8.8,51.7,10.3,50.1,10.3,48.9 M6.7,48.5c0.1-0.2-0.1-0.4-0.2-0.4c-0.5,0-1.2,0.5-1.4,1.1h0.2C5.4,49,5.7,48.7,6,48.7l-1,2.6c-0.1,0.2,0.1,0.4,0.2,0.4c0.5,0,1.1-0.5,1.3-1.1H6.3c-0.2,0.2-0.5,0.5-0.7,0.6L6.7,48.5z M6.9,47.2c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C6.4,47,6.6,47.2,6.9,47.2 M4.2,46.7H1.8L1.7,47c0.7,0.1,0.8,0.2,0.4,1.1l-0.8,2.2c-0.3,0.9-0.5,1-1.3,1.1L0,51.6h3.7l0.8-1.4H4.2c-0.5,0.5-1,1.1-1.8,1.1c-0.6,0-0.7-0.1-0.4-1l0.8-2.2c0.3-0.9,0.5-1,1.3-1.1L4.2,46.7z"/><rect x="4.1" y="0" style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%23FFFFFF;" width="22.4" height="12"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%23273375;" d="M13.7,10.6c0.1-0.1,0.3-0.3,0.4-0.4h0c0.2-0.3,0.5-0.5,0.8-0.8c0.1-0.1,0.2-0.1,0.2-0.2c0,0,0-0.1,0-0.1c-0.1,0-0.2,0.1-0.3,0.2c0,0,0,0,0,0C14.9,9.3,15,9.2,15,9.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.7,0.3c0,0-0.1,0-0.1,0c-0.3,0.1-0.6,0.4-0.9,0.5v0c-0.1,0-0.3,0.1-0.4,0.2c-0.2,0-0.4,0-0.6,0c-0.3,0-0.6,0.1-0.8,0.1c0,0,0,0,0,0c-0.1,0-0.3,0.1-0.4,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0,0.1-0.1,0.1-0.2,0.1c-0.1,0.1-0.3,0.2-0.4,0.3c0,0,0,0,0,0c-0.1,0.1-0.2,0.2-0.4,0.4c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0.1-0.1,0.2-0.2,0.4-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0-0.1,0.1-0.1,0.2-0.1h0c0.1,0,0.2-0.1,0.3-0.1c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.4,0.2c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0.7-0.6,1.7-0.4,2.6-0.7c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.2-0.2,0.3-0.2c0.2-0.1,0.3-0.3,0.4-0.5c0,0,0,0,0,0c-0.3,0.3-0.6,0.6-1,0.8c-0.5,0.2-1,0.2-1.5,0.3c0,0,0.1,0,0.1,0c0-0.1,0-0.1,0.1-0.1h0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c-0.1-0.1-0.2,0.1-0.3,0c0,0,0-0.1,0.1-0.1h0.1c0,0,0-0.1,0-0.1c0.3-0.2,0.7-0.4,1-0.5c-0.1,0-0.1,0.1-0.2,0c0,0,0-0.1,0-0.1c0.2-0.1,0.5-0.2,0.7-0.3c-0.1,0-0.2,0.1-0.2,0c0,0,0.1-0.1,0.1-0.1V8c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1-0.1c0,0-0.1,0-0.1,0c0.1-0.1,0.2-0.1,0.3-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0h0c0,0,0-0.1,0-0.1c0.1-0.2,0.1-0.4,0.2-0.5c0,0,0,0,0,0c-0.2,0.3-0.6,0.3-0.9,0.4h-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.1-0.1-0.2-0.2C11.7,7.1,11.5,7,11.3,7c-0.6-0.2-1.2-0.3-1.8-0.3c0.2-0.1,0.5-0.1,0.8-0.2c0.4-0.1,0.8-0.2,1.2-0.2c-0.1,0-0.2,0-0.2,0c-0.3,0-0.6,0.1-1,0.1c-0.2,0-0.4,0.1-0.7,0.2c-0.1,0-0.2,0.2-0.4,0.2V6.7c0.2-0.3,0.5-0.5,0.9-0.6c0.4-0.1,0.8,0,1.2,0c0.3,0,0.6,0.1,0.9,0.2c0.1,0,0.1,0.2,0.2,0.2c0.1,0,0.3,0,0.4,0.1c0,0,0-0.1,0-0.1c0.1-0.1,0.2,0,0.3,0C13.4,6.3,13,6.1,12.9,6c0,0,0,0,0,0c0.2,0.2,0.3,0.3,0.5,0.5c0.1,0,0.4,0.1,0.3,0c-0.1-0.2-0.3-0.5-0.5-0.7V5.6c0,0,0,0-0.1,0V5.4c-0.1,0-0.1-0.1-0.1-0.2c-0.1-0.1,0-0.3-0.1-0.4C13,4.7,13,4.6,13,4.4c-0.1-0.4-0.2-0.7-0.2-1.1c0-0.4,0.3-0.8,0.5-1.2c0.2-0.3,0.3-0.5,0.6-0.7c0.1-0.3,0.3-0.5,0.4-0.7c0.2-0.2,0.5-0.4,0.7-0.5C15.3,0.1,15.6,0,15.6,0H0v12h11c0.4-0.3,0.9-0.5,1.5-0.8C12.8,11.2,13.5,10.9,13.7,10.6 M10.2,9c0,0-0.1,0-0.1,0c0-0.1,0.2-0.1,0.3-0.2c0,0,0.1-0.1,0.2,0c0,0.1,0.1,0,0.2,0.1C10.5,9,10.3,9,10.2,9 M6.7,8.5C6.7,8.5,6.7,8.5,6.7,8.5C7,8.1,7.2,7.7,7.4,7.3c0.3-0.2,0.5-0.4,0.8-0.6c0.4-0.4,0.8-0.8,1.3-1c0.2-0.1,0.4,0,0.6,0C10,5.8,9.9,5.8,9.8,5.8c0,0,0,0-0.1,0c0,0,0,0,0-0.1C9.5,6,9.2,6.1,9,6.4C8.9,6.6,8.8,6.9,8.5,7c-0.1,0,0-0.1,0,0C7.7,7.4,7.2,7.9,6.7,8.5 M8.6,7C8.6,7.1,8.5,7.1,8.6,7C8.5,7.2,8.5,7.2,8.4,7.2c0,0,0,0,0,0C8.4,7.1,8.5,7,8.6,7C8.6,7,8.6,7,8.6,7 M9.6,10.4C9.6,10.5,9.6,10.5,9.6,10.4c0,0.1,0,0.1,0,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.1c0,0-0.2,0-0.1,0c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0-0.1C9.5,10.4,9.7,10.4,9.6,10.4 M9.2,10.2C9.2,10.2,9.2,10.2,9.2,10.2c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.1-0.3,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0-0.1,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0.1-0.1c0,0,0,0,0,0C8.6,10,9,10,9.2,9.8c0.1,0,0.2,0,0.4,0c0.1,0,0.1,0,0.2,0C9.6,10,9.4,10.1,9.2,10.2 M9.7,8.7C9.7,8.6,9.8,8.7,9.7,8.7L9.7,8.7c-0.1,0-0.1-0.1-0.1-0.1c-0.1,0-0.3,0.1-0.4,0.1c-0.2,0-0.3,0.2-0.5,0.2C8.5,9,8.3,9.2,8,9.2c0,0,0,0,0,0C8,9.1,8.1,9.1,8.2,9c0,0,0,0,0,0c0.2-0.2,0.4-0.4,0.7-0.6V8.3C8.9,8.2,9,8.2,9,8.1C9,8,9.1,7.9,9.2,7.9c0,0-0.1,0-0.1-0.1c-0.1,0-0.2,0-0.3,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0-0.1,0c0,0,0-0.1,0.1-0.1c0.1,0,0.2,0,0.3-0.1c-0.2,0-0.3,0-0.5,0C9,7.1,9.2,6.9,9.5,6.7c0,0,0.1,0,0.1,0C9.5,6.9,9.5,7,9.3,7c0.2,0,0.4,0,0.5,0.1c0,0-0.1,0-0.1,0c0.1,0.1,0.3,0,0.4,0.1c-0.1,0.1-0.1,0-0.2,0c0.7,0.2,1.5,0.4,2,0.8c-0.5,0.2-1,0.4-1.6,0.5c-0.1,0-0.1,0-0.2,0c0,0,0,0.1,0,0.1c-0.1,0-0.2,0-0.2,0C9.9,8.7,9.8,8.7,9.7,8.7"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%23E30613;" d="M33.1,0H20.1c0,0,0,0,0.1,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.2,0.1,0.3,0.2,0.4,0.4c0,0.1,0.1,0.2,0.1,0.3C21,1,21,1.2,20.9,1.3c-0.1,0.1-0.3,0.1-0.5,0c-0.1,0-0.2,0-0.3,0c0.3,0.1,0.7,0.3,0.9,0.6c0,0,0.1,0.1,0.2,0.1c0,0,0,0,0,0.1c0,0-0.1,0.1-0.1,0.1h0.1c0.1,0,0.1-0.3,0.2-0.2c0.1,0.1,0.2,0.2,0.1,0.3c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0.1,0,0.2c0.1,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0.1,0.3,0.2,0.5c0.1,0.3,0.2,0.7,0.2,1c0,0.2-0.1,0.3,0,0.5c0,0.2,0.2,0.3,0.3,0.5c0.1,0.1,0.2,0.2,0.2,0.4c0.1,0.2,0.4,0.5,0.3,0.7c-0.1,0.2-0.3,0.1-0.5,0.2c-0.1,0.1,0,0.3,0,0.4c0.1,0.2-0.1,0.3-0.3,0.4c0,0.1,0.1,0,0.2,0.1C22,7.8,22.1,7.9,22,8c-0.1,0.1-0.4,0.2-0.2,0.4c0.1,0.2,0,0.3,0,0.5c-0.1,0.2-0.2,0.3-0.4,0.3c-0.1,0-0.3,0-0.4,0c0,0-0.1,0-0.1,0c-0.4,0-0.8-0.2-1.2-0.2c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.1-0.1,0.3-0.2,0.4c-0.2,0.5-0.1,1,0,1.1c0,0,0.8,0.3,1.3,0.5c0.2,0.1,0.4,0.2,0.5,0.3h12.7V0z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%239D9D9C;" d="M20.9,4.4c0.1,0,0.2,0,0.2,0.1c0,0.2-0.3,0.2-0.5,0.4h-0.1c-0.1,0,0,0.2-0.1,0.2c-0.1,0-0.1,0-0.2,0c0.1,0.1,0.2,0.2,0.3,0.1c0,0,0.1,0,0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0v0.1c-0.1,0.1-0.2,0-0.3,0.1c0.2,0,0.4,0,0.5,0c0.1,0,0-0.3,0.1-0.4c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1-0.1c0,0-0.1-0.1-0.1-0.1c0.1-0.1,0.2-0.2,0.2-0.4c0-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.2,0.1-0.3,0.1c-0.2,0-0.3,0.1-0.4,0.2c0.2-0.1,0.3-0.1,0.5-0.1C20.7,4.4,20.8,4.4,20.9,4.4"/></g></g></g></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: calc(2 * var(--gov-unit));
        }

    br { content: ""; }
    br:after { content: " "; }
        
    h1{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12pt !important;
        display: block;
        margin: var(--gov-unit) 2rem;
    }
    h2{
        text-transform: uppercase;
        font-style: italic;
        display: block;
        margin: var(--gov-unit) 0;
    }
    
    label{
        pointer-events: none;
        font-weight: bold;
    }
    
    select{
        appearance: none;
    }
    input[type=date]{
        appearance: none;
    }
    
    textarea{
        box-sizing: border-box;
        margin: 0;
        margin-top: 1rem;
    }

    .NoPrint {display: none !important; }
    
    .action{
        visibility: collapse;
        margin: unset;
        padding: unset;
        position: relative;
        margin-top: 1rem;
        width: 100%;
    }
    
    .action::before {
        visibility: visible !important;
        content: "Visa du responsable hiérarchique";
        border: 0.5mm solid black;
        position: absolute;
        box-sizing: border-box;
        width: calc(50% - 0.5rem);
        padding: 1rem;
        height: 3cm;
        left: 0;
    }
    .action::after {
        visibility: visible !important;
        content: "Validatin du chef du département\A des affaires techniques";
        white-space: pre;
        border: 0.5mm solid black;
        position: absolute;
        box-sizing: border-box;
        width: calc(50% - 0.5rem);
        padding: 1rem;
        height: 3cm;
        right: 0;
    }
    
    #description{
        border: 0.5mm solid black;
        border-radius: 0;
    }
    
    #reset, #status{ display: none; }
}