/* CSS Document */
@charset "UTF-8";
@import "/src/css/fonts.css";
@import "/streaming/v2/scripts/css/interface.css";
@import "/streaming/v2/scripts/css/normalize.css";


html{ font-size: 0.3cm; }

body{
    font-family: Courrier New;
}

#UploadForm{
    font-family: Marianne;
    background-color: var(--button-hover-background);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0rem 0rem 0.25rem rgba(0,0,0,0.5);
}

input{
    border: none;
    color: var(--text-color);
}

input[type=file]{ display: none; }

.button{
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--button-background);
    border-radius: 0.5rem;
    position: relative;
    margin: .25rem;
    margin-left: 0;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    user-select: none;
    min-width: 2.5rem;
    text-align: center;
    vertical-align: text-bottom;
    height: 2.5rem;
    box-sizing: border-box;
}