@charset "utf-8";
/* CSS Document */

html
	{
	background-color:gray;
	height:100%;
	width:100%;
	}

body
	{
	text-align:center;
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	font-family: Marianne;
	font-size:10pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

#HomeWrapper
	{
	width: 60vh;
	height: 60vh;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	}

#CentralLogo
	{
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:30vh;
	height:30vh;
	padding:0px;
	background: white;
	border-radius:50%;
	box-sizing:content-box;
    position:absolute;
	transition: all 0.25s;
	cursor:pointer;
	z-index:2;
	background-image: url("../img/multimedia.png");
	background-position: center;
    background-size: contain;
	box-shadow: 1.5vh 1.5vh 0 rgb(122 177 232 / 25%) inset, 1vh 1vh 0 rgb(0 0 0/ 25%);
	}
	
#CentralLogo:active
	{
	box-shadow: 1.5vh 1.5vh 0 rgb(122 177 232 / 25%) inset, 0 0 0 rgb(0 0 0/ 25%);
	width:308px;
	height:308px;
	}
	
#CentralLogo:hover
	{
	box-shadow: 1.5vh 1.5vh 0 rgb(122 177 232 / 25%) inset, 3vh 3vh 0 rgb(0 0 0/ 25%);
	width:35vh;
	height:35vh;
	}

.start { top:50% !important;left:50% !important; z-index:0 !important }

.empty
	{
	display:block;
	opacity:0.25;
	background:attr(data-color color);
	pointer-events: none;
	z-index:0;
	}

.IconApp
	{
	border-radius:50%;
	transform: translate(-50%, -50%);
    width:7.5vh;
    height:7.5vh;
    position:absolute;
	box-sizing:border-box;
	transition: all 0.5s;
	background-size:60%;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
	z-index:1;
	box-shadow: 0.5vh 0.5vh 0 rgb(255 255 255 / 25%) inset, 1vh 1vh 0 rgb(0 0 0/ 25%);
	}

.IconApp:active:not(.empty)
	{
    width:6.5vh;
    height:6.5vh;
	box-shadow: 0.5vh 0.5vh 0 rgb(255 255 255 / 25%) inset, 0 0 0 rgb(0 0 0/ 25%);
	}

.IconApp:hover:not(.empty)
	{
	content:attr(title);
	border-radius:50%;
	transform: translate(-50%, -50%);
    width:8.5vh;
    height:8.5vh;
	box-shadow: 0.5vh 0.5vh 0 rgb(255 255 255 / 25%) inset, 1.5vh 1.5vh 0 rgb(0 0 0/ 25%);
	}

@media only screen and (orientation: portrait) {
    #HomeWrapper{
        width: 60vw;
        height: 60vw;
        }
    
    #CentralLogo{
        width:30vw;
        height:30vw;
    	box-shadow: 1.5vw 1.5vw 0 rgb(122 177 232 / 25%) inset, 1vw 1vw 0 rgb(0 0 0/ 25%);
    }

    #CentralLogo:active
        {
        box-shadow: 1.5vw 1.5vw 0 rgb(122 177 232 / 25%) inset, 0 0 0 rgb(0 0 0/ 25%);
        width:30vw;
        height:30vw;
        }
    
    #CentralLogo:hover{
        width:35vw;
        height:35vw;
        box-shadow: 1.5vw 1.5vw 0 rgb(122 177 232 / 25%) inset, 3vw 3vw 0 rgb(0 0 0/ 25%);
        }

    .IconApp{
        width:7.5vw;
        height:7.5vw;
    	box-shadow: 0.5vw 0.5vw 0 rgb(255 255 255 / 25%) inset, 0.5vw 0.5vw 0 rgb(0 0 0/ 25%);
        }

    .IconApp:active:not(.empty){
        width:6.5vw;
        height:6.5vw;
        box-shadow: 0.5vw 0.5vw 0 rgb(255 255 255 / 25%) inset, 0 0 0 rgb(0 0 0/ 25%);
        }

    .IconApp:hover:not(.empty){
        width:8.5vw;
        height:8.5vw;
        box-shadow: 0.5vw 0.5vw 0 rgb(255 255 255 / 25%) inset, 1.5vw 1.5vw 0 rgb(0 0 0/ 25%);
        }

}
