@charset "utf-8";
/* CSS Document */

html
	{
	height:100%;
	width:100%;
	overflow:auto;
	}

span
	{
	color:#002864;
	}

#HomeWrapper
	{
	margin:auto;
	width:600px;
	height:600px;
	display:block;
	position:relative;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-300px;
	box-sizing:border-box;
	}

.start { top:50% !important;left:50% !important; z-index:0 !important }

.start.Group:before
	{
		display:none;
	}

#Title
	{
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-140px;
	margin-top:-40px;
	height:80px;
	width:280px;
	font-size:33px;
	line-height:33px;
	font-family:AvantGarde;
	font-weight:bold;
	z-index:0;
	}

#Title span
	{
	font-size:12px;
	line-height:12px;
	display:block;
	clear:both;
	}

#Title.on
	{
	font-size:55px;
	line-height:55px;
	text-shadow:0px 0px 4px WhiteSmoke;
	}

#Title.on span
	{
	font-size:20px;
	line-height:20px;
	color:Black;
	}

#ShareIconWrapper
	{
	position:fixed;
	bottom:0%;
	left:50%;
	margin-bottom:18px; /* distance from Top */
	margin-left:-144px; /* -(NB Icons*Width Icon)/2 */
	z-index:3;
	}

.ShareIcon
	{
	border-style:none;
	width:30px;
	height:30px;
	margin:9px;
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	}

.ShareIcon:hover
	{
	border-style:none;
	width:48px;
	height:48px;
	margin:0px;
	}

#fbwrapper
	{ display:none; }

#twwrapper
	{ display:none; }

[id^=Mobile]
	{
	display:none;
	}

#welcomemessage, #errorchrome
	{
	font-style:italic;
	}

.Group
	{
	border-radius:50%;
	margin-top:-50px;
	margin-left:-50px;
	top:50%;
	left:50%;
    width:100px;
    height:100px;
    position:absolute;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	box-shadow: 0px 0px 20px LightSlateGray;
	background-size:100% 100%;
	line-height:100px;
	background-color:WhiteSmoke;
	font-family:AvantGarde;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
	z-index:1;
	}

.Group:hover
	{
	margin-top:-45px;
	margin-left:-45px;
    width:90px;
    height:90px;
	font-size:18px;
	line-height:90px;
	box-shadow: 0px 0px 10px LightSlateGray;
	}

#Clas3
	{
	top:0%;
	left:50%;
	}   

#Clas1
	{
	top:50%;
	left:100%;
	}

#Clas2
	{
    top:50%;
    left:0%;
	}

#Clas4
	{
    top:15%;
    left:15%;
	}

#Clas6
	{
    top:15%;
    left:85%;
	}

#Clas7
	{
    top:85%;
    left:85%;
	}

#Clas5
	{
    top:85%;
    left:15%;
	}

.line
	{
	background-image:url(/img/line.gif);
	background-position:center;
	background-repeat:no-repeat;
	border-style:none;
	background-color:transparent;
	height:1px;
	margin:auto;
	}

#Arrow:before
	{
	content:"";
	display:inline-block;
	width:128px;
	height:128px;
	background-image:url(/img/arrow.png);
	background-position:center center;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-128px;
	margin-left:-64px;
	left:50%;
	}

#Arrow
	{
	position:relative;
	text-align:center;
	}

.validation
	{
	color:#008000;
	margin:10px;
	}

.Error
	{
	text-align:center;
	width:100%;
	font-family:Arial;
	font-size:12pt;
	background-color:#C00000;
	color:#FFFFFF;
	position:absolute;
	}

.ContactFrame
	{
	width:340px;
	}

.DriveFrame
	{
	width:620px;
	height:240px;
	}

.SchoolLink
	{
	height:200px;
	width:200px;
	overflow:hidden;
	display:block;
	position:fixed;
	top:0px;
	right:0px;
	}

.NavClass
	{
	border-style:none;
	text-align:center;
	color:Black;
	font-size:16px;
	line-height:25px;
	margin:2px 0px;
	background-color:rgba(0,0,0,0.25);
	font-family:AvantGarde;
	display:block;
	cursor:pointer;
	}

.NavClass:hover
	{
	color:White;
	background-color:Black;
	}

#NavContainer
	{
	transition: top 0.5s;
	-moz-transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;
	text-align:center;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:4px;
	position:fixed;
	overflow:hidden;
	display:inline-block;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	behavior: url(/css/border-radius.htc);
	background-color:LightSlateGray;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	z-index:1000;
	}

#NavContainer:hover, #NavContainer.on
	{
	transition: top 0.5s;
	-moz-transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;
	top:0px;
	}

#NavContainer:after
	{
	content:'▼ Navigation ▼';
	color:#FFF;
	font-family:AvantGarde;
	font-size:14pt;
	line-height:28px;
	}

#NavContainer:hover:after, #NavContainer.on:after
	{ content:'▲ Navigation ▲'; }

#Navigation
	{
	padding:10px 0px;
	background-color:White;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	behavior: url(/css/border-radius.htc);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:150px;
	}

.ClassTagContener
	{
	height:200px;
	width:200px;
	overflow:hidden;
	display:block;
	position:fixed;
	float:right;
	right:0;
	top:0;
	z-index:1000;
	pointer-events: none;
	}

.ClassTag
	{
	background-color:Black;
	font-family:AvantGarde;
	padding:2px;
	text-align:center;
	font-weight:bold;
	color:#FFF;
	font-size:16pt;
	width:300px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
	position:absolute;
	right:-90px;
	top:45px;
	}

.SchoolTag
	{
	background-color:Gray;
	font-family:AvantGarde;
	padding:2px;
	text-align:center;
	color:#FFF;
	font-size:12pt;
	width:300px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	box-shadow: 0px 2px 0px rgba(0,0,0,0.25);
	position:absolute;
	right:-70px;
	top:70px;
	}

#CalendarWrapper
	{
	height:220px;
	width:350px;
	background-color:#C00000;
	border-radius:10px;
	-moz-border-radius:10px;
	behavior: url(/css/border-radius.htc);
	position:absolute;
	right:150px;
	top:150px;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
	color:#FFF;
	font-family:AvantGarde;
	background-color:#C00000;
	font-size:14pt;
	line-height:30px;
	padding:4px;
	}

.Calendar
	{
	padding:5px;
	display:block;
	background-color:#FFFFFF;
	border-radius:10px;
	-moz-border-radius:10px;
	behavior:url(/css/border-radius.htc);
	position:absolute;
	}

.Calendar iframe
	{
	height:180px;
	width:340px;
	}

#CalendarIcon
	{
	width:125px;
	height:125px;
	bottom:50px;
	right:50px;
	position:fixed;
	text-align:center;
	font-family:Arial;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color:White;
	border-radius:20px;
	-moz-border-radius:20px;
	behavior:url(/css/border-radius.htc);
	box-shadow: 0 4px 0px rgba(0,0,0,0.25);
	overflow:hidden;
	cursor:default;
	cursor:pointer;
	}

#Month
	{
	font-family:Arial Narrow;
	color:White;
	font-size:20pt;
	padding-top:5px;
	width:100%;
	width:125px;
	height:40px;
	background-color:#c00000;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	top:0px;
	left:0px;
	}

#DayYear
	{
	background-color:Gray;
	position:relative;
	width:100%;
	margin-top:5px;
	padding:1px;
	font-size:8pt;
	filter:alpha(opacity=25);
	opacity:0.25;
	}

#DayYear span
	{
	color:White;
	}

#DayYear span.left
	{
	float:left;
	padding-left:4px;
	}

#DayYear span.right
	{
	float:right;
	padding-right:4px;
	}

#Number
	{
	margin-top:10px;
	font-size:26pt;
	font-weight:bold;
	}

#Post-it
	{
	position:absolute;
	z-index:0 !important;
	top:25%;
	left:25%;
	}

.PDFimgWrapper:after
	{
	content:"";
	position:absolute;
	top:0px;
	width:100%;
	height:40px;
	display:block;
	background-color:#9bc422;
	box-shadow:0px -5px 5px 5px #000;
	}

.FileURLDiv
	{
	top:13px;
	left:34px;
	height:14px;
	overflow:hidden;
	position:absolute;
	cursor:default;
	color:#000000;
	font-size:8pt;
	font-style:italic;
	}

#ApplicationsWrapper
	{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5;
	height:auto;
	position:fixed;
	left:50%;
	bottom:20px;
	}

#ApplicationsWrapper:hover
	{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5;
	}

#ApplicationsWrapper:before
	{
	content:"";
	border-bottom: 40px solid LightSlateGray;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	width:300px;
	display:block;
	position: absolute;
	bottom:10px;
	margin-left:-190px;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
	}

.Applications
	{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5;
	width:400px;
	min-height:20px;
	position:relative;
	margin-left:-200px;
	}

.close
	{
	width:14px;
	height:14px;
	display:inline-block;
	position:relative;
	float:left;
	border-radius:50%;
	-moz-border-radius:50%;
	behavior: url(/css/border-radius.htc);
	cursor:pointer;
	background-image:url(/img/close.gif);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:Black;
	}

#ScreenWrapper
	{
	height:auto;
	position:absolute;
	text-align:center;
	padding:4px;
	color:#FFF;
	font-family:AvantGarde;
	font-size:14pt;
	line-height:30px;
	border-radius:10px;
	-moz-border-radius:10px;
	behavior: url(/css/border-radius.htc);
	box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
	cursor:move;
	z-index:1;
	}

.FakeFrame::-webkit-scrollbar
	{
	width:5px;
	}

.FakeFrame::-webkit-scrollbar-track
	{
	background-color: transparent;
	}

.FakeFrame::-webkit-scrollbar-thumb
	{
	background-color: rgba(0,0,0,0.5);
	}

#Screen
	{
	background-color:#FFFFFF;
	padding:5px;
	cursor:default;
	border-radius:10px;
	-moz-border-radius:10px;
	behavior: url(/css/border-radius.htc);
	font-family:Arial;
	font-size:10pt;
	color:#002864;
	text-align:left;
	}

.YOUTUBE:hover
	{
	background-color:#eee;
	border-radius:10px;
	-moz-border-radius:10px;
	behavior:url(/css/border-radius.htc);
	color:#1155cc;
	}

.HiddenForPC
	{ display:none !important; }

.AppIco
	{
	border-radius:25%;
	-moz-border-radius:25%;
	behavior:url(/css/border-radius.htc);
	box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
	margin:0px 2px 25px 2px;
	height:45px;
	width:45px;
	position:relative;

	}

.AppIco:hover
	{
	height:70px;
	width:70px;
	cursor:pointer;
	}

.LOCK
	{
	filter:alpha(opacity=25);
	display:table-cell;
	opacity:0.25;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	}

.LOCK span
	{
	font-size:100pt;
	vertical-align:middle;
	font-weight:bolder;
	}

.ScrollPerso
	{
	border-style: none;
	padding-right: 5px;
	}

.ScrollPerso::-webkit-scrollbar
	{
	width:6px;
	}

.ScrollPerso::-webkit-scrollbar-track
	{
	background-color: #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
	}

.ScrollPerso::-webkit-scrollbar-thumb
	{
    border-radius: 3px;
    -moz-border-radius: 3px;
	background-color: #0b61a4;
	}
