/* CSS Document */

/* Marianne */
@font-face {
	font-family: Marianne;
	font-weight: 800;
	font-style: italic;
	src: url("/src/fnt/Marianne/Marianne-ExtraBold_Italic.woff");
}

@font-face {
	font-family: Marianne;
	font-weight: 800;
    font-style: normal;
	src: url("/src/fnt/Marianne/Marianne-ExtraBold.woff");
}

@font-face {
	font-family: Marianne;
	font-weight: 700;
	font-style: italic;
	src: url("/src/fnt/Marianne/Marianne-Bold_Italic.woff");
}

@font-face {
	font-family: Marianne;
	font-weight: 700;
    font-style: normal;
	src: url("/src/fnt/Marianne/Marianne-Bold.woff");
}

@font-face {
	font-family: Marianne;
    font-weight: 400;
	font-style: italic;
	src: url("/src/fnt/Marianne/Marianne-Regular_Italic.woff");
}

@font-face {
	font-family: Marianne;
    font-weight: 400;
    font-style: normal;
	src: url("/src/fnt/Marianne/Marianne-Regular.woff");
}