/* CSS Document */

@import "../../../streaming/v2/scripts/css/interface.css";
@import "../../../streaming/v2/scripts/css/normalize.css";

@media only screen and (min-resolution: 70dpi){ html { font-size: 8pt; } }
@media only screen and (min-resolution: 100dpi){ html { font-size: 10pt; } }
@media only screen and (min-resolution: 130dpi){ html { font-size: 12pt; } }

/* -------------------- Elements Styles -------------------- */

html{
	background-color: var(--button-hover-background);
	padding: 1rem;
	overflow: auto;
	font-family: Marianne;
}

body{
	margin: auto;
	min-width: 640px;
	max-width: 50vw;
	width: calc(100vw - var(--youtube-margin));
	min-height: 480px;
	background-color: var(--background);
	box-shadow: 0 0 .5rem rgb(0 0 0 / 50%);
	border-radius: 1rem;
}

body.wait{ cursor: wait !important; }

body.wait *{ pointer-events: none; user-select: none; }

textarea
	{
	overflow:hidden;
	margin:0;
	padding:0;
	width: 100%;
	display: inline-flex;
	height: 100%;
	outline: none;
	border-style:none;
	text-align:inherit;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
	background-color:transparent;
	position: absolute;
	resize:none;
	}

input{ font-size: 1.25rem; }

hr{
	background-color: var(--button-background);
	border-style: none;
	height: .2rem;
	border-radius: .2rem;
}

h1{
	font-weight: normal;
	font-size: 2rem;
	display: inline-block;
	margin: 0;
	margin-bottom: 2rem;
}

h2{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5rem;
	display: inline-block;
	margin: 1rem 0;

}

h3{
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 0;
	display: inline-block;
}

label, span{ color: var(--button-hover-background); }

input[type=number] {
    background: transparent;
    border-style: none;
}

input[type=date] {
    background: transparent;
    border-style: none;
	width: 10rem;
}

input[type=checkbox] {
    margin-right: .5rem;
	height: 1.5rem;
	vertical-align: middle;
}

sup{ text-transform: lowercase; }

/* -------------------- Common Classes -------------------- */

.hidden{ display: none !important; }

.notabene{
	font-style: italic;
	font-size: 1rem;
}

.editable{
	position: relative;
	display: inline-block;
    vertical-align: top;
    transform: translate(0,-0.5rem);
}

.editable::after{
	content: attr(data-replicated);
	visibility: hidden;
	white-space: pre-wrap;
}

.editable:hover{
    cursor: pointer;
    background-color: white !important;
	color: black;
    padding: .5rem;
    margin: -.5rem;
    border-radius: .5rem;
    position: relative;
    box-shadow: 0 0 .5rem rgb(0 0 0 / 25%);
	display: inline-block;
	z-index: 1;
}

.button {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--button-background);
    border-radius: 0.5rem;
	position: relative;
	margin: .25rem;
	cursor: pointer;
	color: white;
	font-size: 1.25rem;
	user-select: none;
}

.button:hover{ background-color: var(--button-hover-background); }

#Menu .button{ margin: .5rem; }

[id$="_Section"]{ padding: 2rem; }

[id$="_Logo"]{
	margin-bottom: 2rem;
	pointer-events: none;
	display: inline-block;
	vertical-align: bottom;
    margin-right: 1rem;
	height: 2rem
}

#DSK_Logo { filter: invert(1); }

[id$="_Preview"]{
	position: relative;
	aspect-ratio: 16 / 9;
	margin: auto;
	border-radius: .5rem;
    overflow: hidden;
    background-color: black;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(0, 0, 0); display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" r="32" stroke-width="8" stroke="%23ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round"><animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform></circle><circle cx="50" cy="50" r="23" stroke-width="8" stroke="%23888888" stroke-dasharray="36.12831551628262 36.12831551628262" stroke-dashoffset="36.12831551628262" fill="none" stroke-linecap="round"><animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 50;-360 50 50"></animateTransform></circle></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
}

[id$="_Preview"]::after{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: not-allowed;
}

.screen{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-style: none;
	overflow: hidden;
}

[id$="_options"]{
    background: rgb(0 0 0 / 50%);
	height: 100%;
	width: 100%;
    top: 0;
    left: 0;
    position: fixed;
	margin: 0 !important;
	z-index: 1;
}

.options{
    background: white;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 25%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
	z-index: 2;
}

.options input, .options input:focus{
    width: -webkit-fill-available;
    background-color: var(--button-background);
    border: 1px solid var(--button-hover-background);
    text-align: center;
    color: white;
    display: block;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    cursor: pointer;
}

.options input[type=text], .options input[type=text]:focus{
    background-color: var(--button-hover-background);
    border: 1px solid var(--button-background);
    color: white;
    display: block;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    cursor: text;
}

.options input:disabled{
    background-color: var(--button-hover-background);
    color: var(--button-background);
    cursor: no-drop;
}

[id$="_suboptions"]{
	margin-top: 0 !important;
}

.option{
	cursor: pointer;
	color: black;
    font-size: 1.25rem;
    line-height: 125%;
}

.option:hover{ color: blue; }

.alt:hover::after{
	content: attr(data-alt);
	display: block;
	position: absolute;
	background-color: white;
	padding: .5rem;
	margin: .5rem;
	border-radius: .5rem;
	box-shadow: 0 0 .5rem rgb(0 0 0 / 50%);
	color: black;
	font-size: var(--text-size);
	max-width: 50vw;
	width: max-content;
	z-index: 3;
}
.svg-fill-1{ fill: var(--button-background); }

/* -------------------- Menu Styles -------------------- */

#Menu{
	display: table;
	width: 100%;
	text-align: left;
	position: relative;
}

#Burger{
	background-color: var(--button-background);
	margin: .5rem;
	border-radius: .5rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

#Burger:hover{ background-color: var(--button-hover-background); }

#Burger::before{
	height: 100%;
	width: 100%;
	display: block;
	line-height: 2.5rem;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

#Burger[data-state='on']::before{ content: "\2715"; }
#Burger[data-state='off']::before{ content: "\002630"; }

#Burger_actions{
	display: inline-block;
	position: absolute;
	top: 3.5rem;
	left: 0;
	background-color: var(--background);
	z-index: 2;
	color: white;
	overflow: hidden;
	border-radius: 0 0 .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 25%);
	transition: all 0.25s ease-in-out;
	user-select: none;
}

#Burger_actions[data-state='on']{ width: 10rem; }
#Burger_actions[data-state='off']{ width: 0; }

#Burger_actions[data-state='on'] .action{ transform: translate(0, 0); }
#Burger_actions[data-state='off'] .action{ transform: translate(-10rem, 0); }

.action {
	margin: .25rem .5rem;
	cursor: pointer;
	border-radius: .5rem;
	padding: 0 .5rem;
	line-height: 2rem;
	font-size: 1.25rem;
	transition: all 0.25s ease-in-out;
}

.action:first-child { margin-top: .5rem; }
.action:last-child { margin-bottom: .5rem; }

.action:hover {
	color: blue;
	background-color: white;
}

#REF{
	display: inline-block;
    margin: .5rem;
    font-size: 1.25rem;
	line-height: 2.5rem;
    color: var(--text-color);
}

#REF::before{
	content: "Demande de prestation multimédia n°";
}

/* -------------------- YouTube Section -------------------- */

#YouTube_Section{
	background-color: #f9f9f9;
	color: black;
}

#MetaData{ margin-top: 2rem; }

#VideoTitle{ font-size: 2rem; }

#VideoTitle:hover{ font-size: 2rem; }

#VideoVisibility{
	background-color: rgba(96,96,96,0.05);
	height: 1.5rem;
	line-height: 1.5rem;
	padding: .5rem;
	color: rgb(96,96,96);
	font-size: 1.25rem;
}

#VideoVisibility:hover{
	padding: 1rem;
}

[data-value='public']::before,
[data-value='unlisted']::before,
[data-value='private']::before{
	content: "";
	height: 1.5rem;
	width: 1.5rem;
	margin-right: .5rem;
	display: inline-block;
	vertical-align: text-bottom;
}

[data-value='public']::before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' preserveAspectRatio='xMidYMid meet' focusable='false' style='pointer-events: none; display: block; width: 100%25; height: 100%25;'%3E%3Cg %3E%3Cpath fill='%23007800' d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z' %3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
[data-value='unlisted']::before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' preserveAspectRatio='xMidYMid meet' focusable='false' style='pointer-events: none; display: block; width: 100%25; height: 100%25;'%3E%3Cg %3E%3Cpath d='M17.78,16H13v-1h4.78c1.8,0,3.26-1.57,3.26-3.5S19.58,8,17.78,8H13V7h4.78c2.35,0,4.26,2.02,4.26,4.5S20.13,16,17.78,16z M11,15H6.19c-1.8,0-3.26-1.57-3.26-3.5S4.39,8,6.19,8H11V7H6.19c-2.35,0-4.26,2.02-4.26,4.5S3.84,16,6.19,16H11V15z M16,11H8v1h8 V11z' %3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
[data-value='private']::before{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' preserveAspectRatio='xMidYMid meet' focusable='false' style='pointer-events: none; display: block; width: 100%25; height: 100%25;'%3E%3Cg %3E%3Cpath d='M17,8V6.63C17,4.08,14.76,2,12,2S7,4.08,7,6.63V8H4v14h16V8H17z M8,6.63c0-2.02,1.79-3.66,4-3.66s4,1.64,4,3.66V8H8V6.63z M19,21H5V9h14V21z M12,12c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3S13.66,12,12,12z M12,17c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2 s2,0.9,2,2C14,16.1,13.1,17,12,17z' %3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }

#VideoDate{
	margin: 1rem 0;
	font-size: 1.25rem;
	color: rgb(96,96,96);
	text-transform: capitalize;
}

#VideoDate:hover{
	margin: .5rem -.5rem;
}

#VideoDescription{ font-size: 1.5rem; }

/* -------------------- DSK Section -------------------- */

#DSK_Section{
	color: white;
	font-size: 1.25rem;
}

#DSK_Section h2{ color: var(--button-hover-background); }
#DSK_Section h3{ color: var(--button-hover-background); }

#DSK_Section div.editable{ margin: .5rem 0; }
#DSK_Section div.editable:hover{ margin: 0 -.5rem; }

#EventData{ margin-top: 1rem;}

#Speakers { margin-bottom: 1rem; }

#Speakers .speaker~.speaker{
	margin-top: 1rem;
}

.speaker{
	padding: 1rem 8rem 0rem 1rem;
	border-radius: .5rem;
	background-color: var(--button-background);
	background-size: 4rem;
	background-position: calc(100% - 3rem) center;
	background-repeat: no-repeat;
	position: relative;
	user-select: none;
	color: white;
}

.speaker div, .speaker textarea, .speaker input{
	display: inline-block;
	font-size: 1.25rem;
}

.speaker[data-attendance = "onsite"] .connection{ display: none; }
.speaker[data-attendance = "remote"] .connection{ display: block; }

.speaker[data-attendance = "onsite"]{ background-image: url("../img/mic.svg"); }
.speaker[data-attendance = "remote"]{ background-image: url("../img/headset.svg"); background-color: darkslategray; }

.speakers > div[data-attendance = "remote"]{ background-color: darkslategray; }
.speakers > div[data-attendance = "remote"]:hover{ background-color: var(--button-hover-background) }

.speakers > div[data-attendance = "hybrid"]{ background-color: darkslateblue; }
.speakers > div[data-attendance = "hybrid"]:hover{ background-color: var(--button-hover-background) }

.speaker .editable:hover{
    cursor: pointer;
    background-color: white !important;
    padding: .5rem;
    margin: -.5rem;
    border-radius: .5rem;
    position: relative;
    box-shadow: 0 0 .5rem rgb(0 0 0 / 25%);
	color: black !important;
}

.speakers {
    position: relative;
    background-color: var(--background);
    padding: 0.25rem;
    margin-bottom: 1rem;
	border-radius: 1rem;
}

.speaker span{
    margin-bottom: 0.5rem;
    display: inline-block;
}

.shortspeaker {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--button-background);
    border-radius: 0.5rem;
	padding-right: 3rem;
	position: relative;
	margin: .25rem;
}

.delete{
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--button-hover-background);
    color: var(--button-background);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    cursor: pointer;
}

.delete::before{ content: "\2715"; }

.add{
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--button-hover-background);
    color: var(--button-background);
    border-radius: 100%;
    cursor: pointer;
	display: inline-block;
}

.preview{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNy44LjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjgzLjUgMjgzLjUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI4My41IDI4My41OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojN0E3OTdBO30NCjwvc3R5bGU+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQxLjcsMEM2My42LDAsMCw2My41LDAsMTQxLjdzNjMuNiwxNDEuOCwxNDEuNywxNDEuOGM3OC4yLDAsMTQxLjctNjMuNywxNDEuNy0xNDEuOFMyMTkuOCwwLDE0MS43LDB6DQoJIE0yMTMuNSwxNDQuN2wtMTEyLjEsNjQuN2MtMi45LDEuNi01LjIsMC4zLTUuMi0zVjc3YzAtMy4zLDIuMy00LjYsNS4yLTNsMTEyLjEsNjQuN0MyMTYuNCwxNDAuMywyMTYuNCwxNDMuMSwyMTMuNSwxNDQuN3oiLz4NCjwvc3ZnPg0K");
    /*data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 283.5 283.5' style='enable-background:new 0 0 283.5 283.5;' xml:space='preserve'%3E%3Cpath fill='%237A797A' d='M141.7,283.5C63.6,283.5,0,219.9,0,141.7S63.6,0,141.7,0s141.7,63.6,141.7,141.7S219.9,283.5,141.7,283.5zM141.7,25.2c-64.2,0-116.5,52.3-116.5,116.5s52.3,116.5,116.5,116.5S258.2,206,258.2,141.7S206,25.2,141.7,25.2z'/%3E%3Cpath fill='%237A797A' d='M213.5,138.7c2.9,1.6,2.9,4.4,0,6l-112.1,64.7c-2.9,1.6-5.2,0.3-5.2-3V77c0-3.3,2.3-4.6,5.2-3L213.5,138.7z'/%3E%3C/svg%3E%0A*/
}

.sequence{
	border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--button-background);
	position: relative;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 2.5rem;
	padding-right: 3.5rem;
	margin-bottom: 1rem;
}

.sequence::after{
	display: block;
	height: 100%;
	width: 2rem;
	background-color: white;
	position: absolute;
	color: var(--background);
	writing-mode: vertical-rl;
	line-height: 2rem;
	text-align: center;
	top: 0;
	left: 0;
}

.pause{
	height: 8rem;
	background-image: url("../img/pausestream.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 4rem;
}

.speech::before, .pause::before {
    content: attr(data-start);
    margin-right: 0.5rem;
    background-color: white;
    color: var(--background);
    padding: 0.5rem 1rem;
    display: inline-block;
    width: max-content;
    border-radius: 0 0 0.5rem 0;
    transform: translate(-0.55rem, -0.55rem);
}

.pause::after{ content: "Pause"; }
.speech::after{ content: "Allocution(s)"; }
.transition::after{ content: "Transition"; }

.small{
	width: calc(50% - 2rem);
	border-radius: 0 .5rem .5rem 0;
    overflow: hidden;
    margin: -.5rem;
    display: inline-block;
	float: left;
	margin-right: 1rem;
}

.movedown, .moveup {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: var(--button-hover-background);
    font-size: 1.5rem;
    cursor: pointer;
	margin-bottom: 2rem;
}
.movedown {
	margin-bottom: 0;
}

.movedown::before{ content: "\25BC"; }
.moveup::before{ content: "\25B2"; }

.button .delete {
	float: right;
	position: initial;
	margin-left: .5rem;
}

.duration{ float: right; }

#StartTime{
	cursor: pointer;
	margin-bottom: 1rem;
}

#StartTime:hover{ background-color: white; color: black; }
#StartTime:focus-visible{ outline-style: none; }

[id$="Time"]{
	display: block;
	background-color: var(--button-background);
    padding: 0.5rem;
    border-radius: 0.5rem;
	border-style: none;
	text-align: left;
	color: white;
    line-height: 100%;
    width: -webkit-fill-available;
}

[id$="_Chapter"]{
	width: 50%;
	display: block;
	padding: .5rem;
	margin: .5rem;
	background-color: var(--background);
	position: relative;
	border-radius: 1rem;
	resize: vertical;
    height: 6rem;
}
        
input[id$="_ddr"]:not(:checked)~[id$="_ddrsources"]{ display: none !important;}
input[id$="_scroll"]:not(:checked)~[id$="_scrollmessage"]{ display: none !important;}
input[id$="_requests"]:not(:checked)~[id$="_requestsspecs"]{ display: none !important;}

/* -------------------- Print Styles -------------------- */

:root { --gov-unit: calc(297mm / 70); }

@page{
    size: A4;
    margin: 16.97mm;
}

@page :first{ margin-top: 8.4857mm; }

@media only print{

    *{
        font-size: 10pt !important;
        color: black !important;}

    html{
        width: 100%;
        background-color: unset;
        padding: unset;
        overflow: visible;
        }

    body{
        background-color: unset;
        box-shadow: unset;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        border-radius: unset;
        margin: auto;
        /* Sequence Counter */
        counter-reset: sequence-counter;
        }

    body::before{
        content: "";
        display: block;
        width: 32mm;
        height: 24mm;
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 89.6 68.3" style="enable-background:new 0 0 89.6 68.3;" xml:space="preserve"><style type="text/css">.st0{clip-path:url(%23SVGID_00000081628568703900933990000003337691727467437754_);}.st1{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);}.st2{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%23FFFFFF;}.st3{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%23273375;}.st4{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%23E30613;}.st5{clip-path:url(%23SVGID_00000126304130308911271910000008136071369435353522_);fill:%239D9D9C;}</style><g id="Mnisère_de_la_Justice__x28_100mm_x29__00000183213468313638482440000016493365459427641260_"><g><defs><rect id="SVGID_1_" width="89.6" height="68.3"/></defs><clipPath id="SVGID_00000170261647539128064400000014998631768868672905_"><use xlink:href="%23SVGID_1_" style="overflow:visible;"/></clipPath><polygon style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" points="6.7,18.1 4.5,21.8 2.3,18.1 0,18.1 0,27.1 1.9,27.1 1.9,20.7 3.9,24 5.2,24 7.2,20.7 7.2,27.1 9,27.1 9,18.1 "/><rect x="11.6" y="18.1" style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" width="1.8" height="9.1"/><polygon style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" points="15.9,18.1 18.3,18.1 22.3,24.6 22.3,18.1 24.2,18.1 24.2,27.1 21.8,27.1 17.8,20.6 17.8,27.1 15.9,27.1 "/><rect x="26.7" y="18.1" style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);" width="1.8" height="9.1"/><g style="clip-path:url(%23SVGID_00000170261647539128064400000014998631768868672905_);"><defs><rect id="SVGID_00000168818140918563258720000003550688915969602973_" y="0" width="89.6" height="68.3"/></defs><clipPath id="SVGID_00000008857956629938073410000015625336508139161278_"><use xlink:href="%23SVGID_00000168818140918563258720000003550688915969602973_" style="overflow:visible;"/></clipPath><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M31.6,24.7c0.5,0.7,1.3,1.1,2,1.1c0.7,0,1.2-0.4,1.2-1c0-1.6-4.1-1.3-4.1-4.3c0-1.4,1.2-2.6,2.9-2.6c1.4,0,2.4,0.6,3.2,1.5l-1.3,1.2c-0.5-0.7-1.1-1.1-1.8-1.1c-0.6,0-1,0.4-1,0.9c0,1.6,4.1,1.2,4.1,4.3c0,1.7-1.3,2.7-3,2.7c-1.5,0-2.6-0.6-3.4-1.5L31.6,24.7z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="37.6,18.1 45,18.1 45,19.7 42.2,19.7 42.2,27.1 40.4,27.1 40.4,19.7 37.6,19.7 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M46.6,18.1h5.3v1.6h-3.4v2.1h2.9v1.6h-2.9v2.3h3.4v1.6h-5.3V18.1z M46.8,15.6h1.9l1.5,1.7h-1.7L46.8,15.6z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M54,18.1h2.8c2,0,3.2,1,3.2,2.7c0,1.1-0.5,1.9-1.4,2.3l2.8,4h-2.2l-2.4-3.7h-0.9v3.7H54V18.1z M55.9,19.6v2.3h1c0.8,0,1.2-0.4,1.2-1.2c0-0.7-0.5-1.1-1.2-1.1H55.9z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="62.6,18.1 67.8,18.1 67.8,19.6 64.4,19.6 64.4,21.7 67.3,21.7 67.3,23.3 64.4,23.3 64.4,25.6 67.8,25.6 67.8,27.1 62.6,27.1 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M0,31.1h3.6c2.9,0,4.8,2.1,4.8,4.5c0,2.4-1.9,4.5-4.8,4.5H0V31.1z M1.9,32.8v5.7h1.7c1.7,0,2.9-1.3,2.9-2.9c0-1.6-1.2-2.9-2.9-2.9H1.9z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="10.2,31.1 15.5,31.1 15.5,32.7 12,32.7 12,34.8 14.9,34.8 14.9,36.4 12,36.4 12,38.6 15.5,38.6 15.5,40.2 10.2,40.2 "/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="21,31.1 22.8,31.1 22.8,38.5 26.2,38.5 26.2,40.2 21,40.2 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M30.5,31.1h2.4l3.4,9.1h-2l-0.9-2.4h-3.6l-0.9,2.4h-2L30.5,31.1z M33,36.3l-1.2-3.4l-1.2,3.4H33z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M40.3,42.4c-0.3,0-0.5,0-0.7-0.1v-1.6c0.1,0,0.3,0,0.5,0c0.8,0,1.2-0.3,1.2-1.3v-8.4h1.8v8.3C43.1,41.5,42.2,42.4,40.3,42.4"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M50.9,31.1h1.8v5.5c0,2.4-1.4,3.8-3.7,3.8c-2.3,0-3.7-1.4-3.7-3.8v-5.5h1.8v5.7c0,1.2,0.7,1.9,1.8,1.9c1.1,0,1.8-0.7,1.8-1.9V31.1z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M55.5,37.7c0.5,0.7,1.3,1.1,2,1.1c0.7,0,1.2-0.4,1.2-1c0-1.6-4.1-1.3-4.1-4.3c0-1.4,1.2-2.6,2.9-2.6c1.4,0,2.4,0.6,3.2,1.5l-1.3,1.2c-0.5-0.7-1.1-1.1-1.8-1.1c-0.6,0-1,0.4-1,0.9c0,1.6,4.1,1.2,4.1,4.3c0,1.7-1.3,2.7-3,2.7c-1.5,0-2.6-0.6-3.4-1.5L55.5,37.7z"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="61.5,31.1 68.9,31.1 68.9,32.8 66.1,32.8 66.1,40.2 64.3,40.2 64.3,32.8 61.5,32.8 "/><rect x="70.5" y="31.1" style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" width="1.8" height="9.1"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M81.3,37.5l1.4,1.1c-0.8,1.1-2.2,1.9-3.8,1.9c-2.9,0-4.8-2.2-4.8-4.8c0-2.6,2-4.8,4.8-4.8c1.6,0,3,0.7,3.8,1.8l-1.4,1.1c-0.5-0.7-1.3-1.2-2.4-1.2c-1.7,0-2.9,1.3-2.9,3.1c0,1.7,1.2,3.1,2.9,3.1C80,38.7,80.8,38.2,81.3,37.5"/><polygon style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" points="84.3,31.1 89.6,31.1 89.6,32.7 86.2,32.7 86.2,34.8 89.1,34.8 89.1,36.4 86.2,36.4 86.2,38.6 89.6,38.6 89.6,40.2 84.3,40.2 "/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M29.5,65.2c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C28.9,65.6,29.2,65.2,29.5,65.2 M30.1,67h-0.2c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C29.2,68.3,29.7,67.8,30.1,67 M29.8,64.4l1.3-1.2V63h-0.7l-0.8,1.3H29.8z M25.8,65.2h0.6l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3h-0.2c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5H28l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1L25.8,65V65.2z M25,65.1c0.1-0.2-0.1-0.4-0.2-0.4c-0.5,0-1.2,0.5-1.4,1.1h0.2c0.2-0.2,0.5-0.5,0.7-0.6l-1,2.6c-0.1,0.2,0.1,0.4,0.2,0.4c0.5,0,1.1-0.5,1.3-1.1h-0.2c-0.2,0.2-0.5,0.5-0.7,0.6L25,65.1z M25.2,63.8c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C24.7,63.6,24.9,63.8,25.2,63.8 M19.3,67.8c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9c0.3-0.4,1-0.8,1.3-0.8c0.2,0,0.2,0.2,0,0.4l-1.1,2.1c-0.1,0.2,0,0.5,0.3,0.5c0.5,0,1.2-0.5,1.4-1.1h-0.2c-0.2,0.2-0.5,0.5-0.7,0.6l0.9-1.9c0.1-0.2,0.2-0.5,0.2-0.6c0-0.3-0.2-0.5-0.5-0.5c-0.5,0-0.9,0.5-1.5,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.2,0-0.4,0.2-0.6,0.4v0.1c0.3,0,0.5,0.5,0.3,1L19.3,67.8z M19.3,65.5c0.1-0.4,0.1-0.8-0.3-0.8c-0.4,0-0.5,0.3-0.9,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.4,0-0.7,0.6-1,1.1h0.2c0.2-0.3,0.3-0.4,0.5-0.4c0.2,0,0.2,0.2,0,0.8l-0.7,1.6c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9c0.2-0.2,0.4-0.5,0.6-0.7H19.3z M15.2,65.2c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C14.6,65.6,15,65.2,15.2,65.2 M15.9,67h-0.2c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C14.9,68.3,15.4,67.8,15.9,67 M11.5,65.2h0.6l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3H13c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5h0.9l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1L11.5,65V65.2z M8.2,67.3c0-0.8,0.9-1.9,1.4-1.9c0.1,0,0.2,0,0.3,0l-0.5,1.4c-0.3,0.4-0.8,0.8-1,0.8C8.2,67.6,8.2,67.5,8.2,67.3 M11,64.6l-0.3,0l-0.3,0.3h-0.1c-1.5,0-2.8,1.7-2.8,2.9c0,0.3,0.2,0.5,0.5,0.5c0.4,0,0.8-0.6,1.2-1.2l0,0.2c-0.1,0.6,0.1,0.9,0.5,0.9c0.4,0,0.7-0.6,1-1.1h-0.2c-0.2,0.3-0.3,0.4-0.5,0.4c-0.1,0-0.2-0.3,0-0.8L11,64.6z M7.7,65.5c0.1-0.4,0.1-0.8-0.3-0.8c-0.4,0-0.5,0.3-0.9,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.4,0-0.7,0.6-1,1.1h0.2c0.2-0.3,0.3-0.4,0.5-0.4c0.2,0,0.2,0.2,0,0.8l-0.7,1.6c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9C6.6,66,6.8,65.8,7,65.5H7.7z M2.6,68.2L2.7,68c-0.9-0.2-1-0.2-0.6-1.1l0.4-1h1c0.4,0,0.4,0.2,0.4,0.7H4l0.6-1.6H4.4c-0.2,0.4-0.4,0.7-0.9,0.7h-1L3,64.2c0.2-0.4,0.3-0.5,0.9-0.5h0.4c0.6,0,0.7,0.2,0.7,0.8h0.2l0.2-1.1H1.8l-0.1,0.2c0.7,0.1,0.8,0.2,0.4,1.1l-0.8,2.2c-0.3,0.9-0.5,1-1.3,1.1L0,68.2H2.6z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M20.6,56.9c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C20,57.3,20.3,56.9,20.6,56.9 M21.2,58.7H21c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C20.3,60,20.8,59.5,21.2,58.7 M20.9,56.1l1.3-1.2v-0.1h-0.7l-0.8,1.3H20.9z M16.9,56.9h0.6l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3h-0.2c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5h0.9l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1l-0.8,0.1V56.9z M16.1,56.8c0.1-0.2-0.1-0.4-0.2-0.4c-0.5,0-1.2,0.5-1.4,1.1h0.2c0.2-0.2,0.5-0.5,0.7-0.6l-1,2.6c-0.1,0.2,0.1,0.4,0.2,0.4c0.5,0,1.1-0.5,1.3-1.1h-0.2c-0.2,0.2-0.5,0.5-0.7,0.6L16.1,56.8z M16.3,55.5c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C15.8,55.3,16,55.5,16.3,55.5 M12.7,59.4l1.9-4.9l-0.1-0.1l-1.2,0.1v0.1l0.2,0.2c0.2,0.2,0.1,0.3,0,0.8l-1.4,3.8c-0.1,0.2,0,0.5,0.3,0.5c0.5,0,1.1-0.5,1.3-1.1h-0.2C13.4,59.1,13,59.4,12.7,59.4 M9.2,59c0-0.8,0.9-1.9,1.4-1.9c0.1,0,0.2,0,0.3,0l-0.5,1.4c-0.3,0.4-0.8,0.8-1,0.8C9.3,59.3,9.2,59.2,9.2,59 M12,56.3l-0.3,0l-0.3,0.3h-0.1c-1.5,0-2.8,1.7-2.8,2.9c0,0.3,0.2,0.5,0.5,0.5c0.4,0,0.8-0.6,1.2-1.2l0,0.2c-0.1,0.6,0.1,0.9,0.5,0.9c0.4,0,0.7-0.6,1-1.1h-0.2c-0.2,0.3-0.3,0.4-0.5,0.4c-0.1,0-0.2-0.3,0-0.8L12,56.3z M5.3,60.7c0-0.4,0.3-0.6,0.8-0.8c0.2,0.1,0.4,0.2,0.7,0.3c0.5,0.2,0.7,0.2,0.7,0.4c0,0.3-0.6,0.6-1.3,0.6C5.6,61.1,5.3,61,5.3,60.7 M6.6,58.5c-0.2,0-0.3-0.2-0.3-0.4c0-0.6,0.3-1.5,0.8-1.5c0.2,0,0.3,0.2,0.3,0.4C7.4,57.7,7.1,58.5,6.6,58.5 M8.1,60.3c0-0.4-0.4-0.6-1-0.8c-0.5-0.2-0.8-0.2-0.8-0.4c0-0.1,0.1-0.3,0.3-0.4c0.9,0,1.4-0.8,1.4-1.5c0-0.1,0-0.3-0.1-0.4h0.7l0.1-0.4H7.7c-0.1-0.1-0.3-0.1-0.5-0.1c-0.9,0-1.5,0.8-1.5,1.5c0,0.5,0.3,0.8,0.7,0.9C6,59,5.7,59.2,5.7,59.4c0,0.2,0.1,0.3,0.2,0.4c-1,0.3-1.4,0.6-1.4,1.1c0,0.5,0.6,0.7,1.3,0.7C7.1,61.6,8.1,60.9,8.1,60.3 M3.4,57.5c0.4,0,0.4,0.2,0.4,0.7h0.3l0.6-1.6H4.4c-0.2,0.4-0.4,0.7-0.9,0.7h-1L3,55.9c0.2-0.4,0.3-0.5,0.9-0.5h0.4c0.6,0,0.7,0.2,0.7,0.8h0.2L5.5,55H1.8l-0.1,0.2c0.7,0.1,0.8,0.2,0.4,1.1l-0.8,2.2c-0.3,0.9-0.5,1-1.3,1.1L0,59.9h4.1l0.7-1.2H4.6c-0.5,0.4-1,0.9-1.9,0.9c-1.1,0-1,0-0.6-1l0.4-1.1H3.4z M4,54.7l1.3-0.9v-0.1H4.5l-0.7,1H4z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);" d="M20.2,48.6c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C19.6,49,19.9,48.6,20.2,48.6 M20.8,50.4h-0.2C20.3,50.8,20,51,19.7,51c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C19.9,51.7,20.4,51.2,20.8,50.4 M20.4,47.8l1.3-1.2v-0.1H21l-0.8,1.3H20.4z M16.6,48.6h0.5l-1,2.6c-0.1,0.2,0,0.5,0.3,0.5c0.6,0,1.4-0.5,1.8-1.3H18c-0.2,0.3-0.7,0.6-1.1,0.7l0.9-2.5h0.9l0.1-0.4h-0.9l0.3-1h-0.4l-0.6,1l-0.6,0.1V48.6z M16.2,48.9c0.1-0.4,0.1-0.8-0.3-0.8c-0.4,0-0.5,0.3-0.9,1.2v-0.5c0-0.4-0.1-0.7-0.4-0.7c-0.4,0-0.7,0.6-1,1.1h0.2c0.2-0.3,0.3-0.4,0.5-0.4c0.2,0,0.2,0.2,0,0.8l-0.7,1.6c-0.1,0.3,0,0.5,0.3,0.5c0.2,0,0.3,0,0.3-0.2l0.7-1.9c0.2-0.2,0.4-0.5,0.6-0.7H16.2z M12.1,48.6c0.2,0,0.5,0.2,0.3,0.7l-1.1,0.3C11.5,49,11.8,48.6,12.1,48.6 M12.7,50.4h-0.2c-0.3,0.3-0.6,0.6-0.9,0.6c-0.3,0-0.5-0.2-0.5-0.6c0-0.2,0-0.3,0.1-0.5l1.8-0.6c0.4-0.9-0.1-1.2-0.6-1.2c-0.9,0-1.9,1.5-1.9,2.7c0,0.6,0.3,0.9,0.7,0.9C11.8,51.7,12.3,51.2,12.7,50.4 M8.2,51.2c-0.2,0-0.4-0.2-0.4-0.3c0,0,0.1-0.3,0.2-0.5l0.3-0.8c0.3-0.4,0.8-0.8,1.1-0.8c0.2,0,0.3,0.1,0.3,0.4C9.6,49.9,8.9,51.2,8.2,51.2 M10.3,48.9c0-0.5-0.2-0.7-0.6-0.7c-0.5,0-0.9,0.5-1.3,1.1l1.1-2.9l-0.1-0.1l-1.2,0.1v0.1l0.2,0.2c0.2,0.2,0.1,0.3,0,0.8l-1.2,3.1c-0.1,0.2-0.2,0.5-0.2,0.6c0,0.3,0.4,0.6,0.8,0.6C8.8,51.7,10.3,50.1,10.3,48.9 M6.7,48.5c0.1-0.2-0.1-0.4-0.2-0.4c-0.5,0-1.2,0.5-1.4,1.1h0.2C5.4,49,5.7,48.7,6,48.7l-1,2.6c-0.1,0.2,0.1,0.4,0.2,0.4c0.5,0,1.1-0.5,1.3-1.1H6.3c-0.2,0.2-0.5,0.5-0.7,0.6L6.7,48.5z M6.9,47.2c0.2,0,0.4-0.2,0.4-0.4c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C6.4,47,6.6,47.2,6.9,47.2 M4.2,46.7H1.8L1.7,47c0.7,0.1,0.8,0.2,0.4,1.1l-0.8,2.2c-0.3,0.9-0.5,1-1.3,1.1L0,51.6h3.7l0.8-1.4H4.2c-0.5,0.5-1,1.1-1.8,1.1c-0.6,0-0.7-0.1-0.4-1l0.8-2.2c0.3-0.9,0.5-1,1.3-1.1L4.2,46.7z"/><rect x="4.1" y="0" style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%23FFFFFF;" width="22.4" height="12"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%23273375;" d="M13.7,10.6c0.1-0.1,0.3-0.3,0.4-0.4h0c0.2-0.3,0.5-0.5,0.8-0.8c0.1-0.1,0.2-0.1,0.2-0.2c0,0,0-0.1,0-0.1c-0.1,0-0.2,0.1-0.3,0.2c0,0,0,0,0,0C14.9,9.3,15,9.2,15,9.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.3,0-0.5,0.2-0.7,0.3c0,0-0.1,0-0.1,0c-0.3,0.1-0.6,0.4-0.9,0.5v0c-0.1,0-0.3,0.1-0.4,0.2c-0.2,0-0.4,0-0.6,0c-0.3,0-0.6,0.1-0.8,0.1c0,0,0,0,0,0c-0.1,0-0.3,0.1-0.4,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0,0.1-0.1,0.1-0.2,0.1c-0.1,0.1-0.3,0.2-0.4,0.3c0,0,0,0,0,0c-0.1,0.1-0.2,0.2-0.4,0.4c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0.1-0.1,0.2-0.2,0.4-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0-0.1,0.1-0.1,0.2-0.1h0c0.1,0,0.2-0.1,0.3-0.1c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.4,0.2c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0.7-0.6,1.7-0.4,2.6-0.7c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.2-0.2,0.3-0.2c0.2-0.1,0.3-0.3,0.4-0.5c0,0,0,0,0,0c-0.3,0.3-0.6,0.6-1,0.8c-0.5,0.2-1,0.2-1.5,0.3c0,0,0.1,0,0.1,0c0-0.1,0-0.1,0.1-0.1h0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c-0.1-0.1-0.2,0.1-0.3,0c0,0,0-0.1,0.1-0.1h0.1c0,0,0-0.1,0-0.1c0.3-0.2,0.7-0.4,1-0.5c-0.1,0-0.1,0.1-0.2,0c0,0,0-0.1,0-0.1c0.2-0.1,0.5-0.2,0.7-0.3c-0.1,0-0.2,0.1-0.2,0c0,0,0.1-0.1,0.1-0.1V8c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1-0.1c0,0-0.1,0-0.1,0c0.1-0.1,0.2-0.1,0.3-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0h0c0,0,0-0.1,0-0.1c0.1-0.2,0.1-0.4,0.2-0.5c0,0,0,0,0,0c-0.2,0.3-0.6,0.3-0.9,0.4h-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.1-0.1-0.2-0.2C11.7,7.1,11.5,7,11.3,7c-0.6-0.2-1.2-0.3-1.8-0.3c0.2-0.1,0.5-0.1,0.8-0.2c0.4-0.1,0.8-0.2,1.2-0.2c-0.1,0-0.2,0-0.2,0c-0.3,0-0.6,0.1-1,0.1c-0.2,0-0.4,0.1-0.7,0.2c-0.1,0-0.2,0.2-0.4,0.2V6.7c0.2-0.3,0.5-0.5,0.9-0.6c0.4-0.1,0.8,0,1.2,0c0.3,0,0.6,0.1,0.9,0.2c0.1,0,0.1,0.2,0.2,0.2c0.1,0,0.3,0,0.4,0.1c0,0,0-0.1,0-0.1c0.1-0.1,0.2,0,0.3,0C13.4,6.3,13,6.1,12.9,6c0,0,0,0,0,0c0.2,0.2,0.3,0.3,0.5,0.5c0.1,0,0.4,0.1,0.3,0c-0.1-0.2-0.3-0.5-0.5-0.7V5.6c0,0,0,0-0.1,0V5.4c-0.1,0-0.1-0.1-0.1-0.2c-0.1-0.1,0-0.3-0.1-0.4C13,4.7,13,4.6,13,4.4c-0.1-0.4-0.2-0.7-0.2-1.1c0-0.4,0.3-0.8,0.5-1.2c0.2-0.3,0.3-0.5,0.6-0.7c0.1-0.3,0.3-0.5,0.4-0.7c0.2-0.2,0.5-0.4,0.7-0.5C15.3,0.1,15.6,0,15.6,0H0v12h11c0.4-0.3,0.9-0.5,1.5-0.8C12.8,11.2,13.5,10.9,13.7,10.6 M10.2,9c0,0-0.1,0-0.1,0c0-0.1,0.2-0.1,0.3-0.2c0,0,0.1-0.1,0.2,0c0,0.1,0.1,0,0.2,0.1C10.5,9,10.3,9,10.2,9 M6.7,8.5C6.7,8.5,6.7,8.5,6.7,8.5C7,8.1,7.2,7.7,7.4,7.3c0.3-0.2,0.5-0.4,0.8-0.6c0.4-0.4,0.8-0.8,1.3-1c0.2-0.1,0.4,0,0.6,0C10,5.8,9.9,5.8,9.8,5.8c0,0,0,0-0.1,0c0,0,0,0,0-0.1C9.5,6,9.2,6.1,9,6.4C8.9,6.6,8.8,6.9,8.5,7c-0.1,0,0-0.1,0,0C7.7,7.4,7.2,7.9,6.7,8.5 M8.6,7C8.6,7.1,8.5,7.1,8.6,7C8.5,7.2,8.5,7.2,8.4,7.2c0,0,0,0,0,0C8.4,7.1,8.5,7,8.6,7C8.6,7,8.6,7,8.6,7 M9.6,10.4C9.6,10.5,9.6,10.5,9.6,10.4c0,0.1,0,0.1,0,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.1c0,0-0.2,0-0.1,0c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0-0.1C9.5,10.4,9.7,10.4,9.6,10.4 M9.2,10.2C9.2,10.2,9.2,10.2,9.2,10.2c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.1-0.3,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.2,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0-0.1,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0.1-0.1c0,0,0,0,0,0C8.6,10,9,10,9.2,9.8c0.1,0,0.2,0,0.4,0c0.1,0,0.1,0,0.2,0C9.6,10,9.4,10.1,9.2,10.2 M9.7,8.7C9.7,8.6,9.8,8.7,9.7,8.7L9.7,8.7c-0.1,0-0.1-0.1-0.1-0.1c-0.1,0-0.3,0.1-0.4,0.1c-0.2,0-0.3,0.2-0.5,0.2C8.5,9,8.3,9.2,8,9.2c0,0,0,0,0,0C8,9.1,8.1,9.1,8.2,9c0,0,0,0,0,0c0.2-0.2,0.4-0.4,0.7-0.6V8.3C8.9,8.2,9,8.2,9,8.1C9,8,9.1,7.9,9.2,7.9c0,0-0.1,0-0.1-0.1c-0.1,0-0.2,0-0.3,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0-0.1,0c0,0,0-0.1,0.1-0.1c0.1,0,0.2,0,0.3-0.1c-0.2,0-0.3,0-0.5,0C9,7.1,9.2,6.9,9.5,6.7c0,0,0.1,0,0.1,0C9.5,6.9,9.5,7,9.3,7c0.2,0,0.4,0,0.5,0.1c0,0-0.1,0-0.1,0c0.1,0.1,0.3,0,0.4,0.1c-0.1,0.1-0.1,0-0.2,0c0.7,0.2,1.5,0.4,2,0.8c-0.5,0.2-1,0.4-1.6,0.5c-0.1,0-0.1,0-0.2,0c0,0,0,0.1,0,0.1c-0.1,0-0.2,0-0.2,0C9.9,8.7,9.8,8.7,9.7,8.7"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%23E30613;" d="M33.1,0H20.1c0,0,0,0,0.1,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.2,0.1,0.3,0.2,0.4,0.4c0,0.1,0.1,0.2,0.1,0.3C21,1,21,1.2,20.9,1.3c-0.1,0.1-0.3,0.1-0.5,0c-0.1,0-0.2,0-0.3,0c0.3,0.1,0.7,0.3,0.9,0.6c0,0,0.1,0.1,0.2,0.1c0,0,0,0,0,0.1c0,0-0.1,0.1-0.1,0.1h0.1c0.1,0,0.1-0.3,0.2-0.2c0.1,0.1,0.2,0.2,0.1,0.3c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0.1,0,0.2c0.1,0.1,0.1,0.2,0.1,0.3c0.1,0.2,0.1,0.3,0.2,0.5c0.1,0.3,0.2,0.7,0.2,1c0,0.2-0.1,0.3,0,0.5c0,0.2,0.2,0.3,0.3,0.5c0.1,0.1,0.2,0.2,0.2,0.4c0.1,0.2,0.4,0.5,0.3,0.7c-0.1,0.2-0.3,0.1-0.5,0.2c-0.1,0.1,0,0.3,0,0.4c0.1,0.2-0.1,0.3-0.3,0.4c0,0.1,0.1,0,0.2,0.1C22,7.8,22.1,7.9,22,8c-0.1,0.1-0.4,0.2-0.2,0.4c0.1,0.2,0,0.3,0,0.5c-0.1,0.2-0.2,0.3-0.4,0.3c-0.1,0-0.3,0-0.4,0c0,0-0.1,0-0.1,0c-0.4,0-0.8-0.2-1.2-0.2c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.2,0.2-0.3,0.2c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0,0,0c0,0,0,0,0,0c-0.1,0.1-0.1,0.3-0.2,0.4c-0.2,0.5-0.1,1,0,1.1c0,0,0.8,0.3,1.3,0.5c0.2,0.1,0.4,0.2,0.5,0.3h12.7V0z"/><path style="clip-path:url(%23SVGID_00000008857956629938073410000015625336508139161278_);fill:%239D9D9C;" d="M20.9,4.4c0.1,0,0.2,0,0.2,0.1c0,0.2-0.3,0.2-0.5,0.4h-0.1c-0.1,0,0,0.2-0.1,0.2c-0.1,0-0.1,0-0.2,0c0.1,0.1,0.2,0.2,0.3,0.1c0,0,0.1,0,0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0v0.1c-0.1,0.1-0.2,0-0.3,0.1c0.2,0,0.4,0,0.5,0c0.1,0,0-0.3,0.1-0.4c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1-0.1c0,0-0.1-0.1-0.1-0.1c0.1-0.1,0.2-0.2,0.2-0.4c0-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.2,0.1-0.3,0.1c-0.2,0-0.3,0.1-0.4,0.2c0.2-0.1,0.3-0.1,0.5-0.1C20.7,4.4,20.8,4.4,20.9,4.4"/></g></g></g></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: calc(2 * var(--gov-unit));
        }

    br { content: ""; }
    br:after { content: " "; }
    
    .section{ page-break-inside: avoid; }
    
    [id$="_Section"]{ padding: unset; }
    
    [class$="_suboptions"]{ display: inline; }
    
    h1{ text-transform: uppercase; font-weight: bold; font-size: 12pt !important; display: block; margin: var(--gov-unit) 0; }
    h2{ text-transform: uppercase; font-style: italic; display: block; margin: 0 0 var(--gov-unit) 0; }
    
    label{ display: block; pointer-events: none; }
    
    .editable, .editable:hover, .editable::after, #StartTime, #EndTime{ all: unset; pointer-events: none; }
    
    /* All thing hidden */
    #YouTube_Logo, #Menu, #DSK_Logo, .button, .delete, .preview, .moveup, .movedown, .sequence::after, [id$="_Preview"], input[type="checkbox"], input[type="checkbox"]:not(:checked), input[type="checkbox"]:not(:checked)+label, h3, hr, span{ display: none !important; }
    
    /* All field blocks */
    #VideoTitle, #VideoVisibility, #VideoDate, #VideoDescription, #EventTitle, #EventSubTitle, #EventStyle, #EventLocation, #OnSiteAttendance, #RemoteAttendance, #BroadcastMethode, .name, .function, .translation, .link, .speakers, #EndTime{
        display: block !important;
        margin: unset !important;
        padding: unset !important;
        page-break-inside: avoid;
    }
    
    #VideoDescription br{ content: unset; }
    
    /* All field names */
    #VideoTitle::before{ content: "Titre de la vidéo\00A0: "; font-weight: bold; }
    #VideoVisibility::before{ content: "Visibilité de la vidéo\00A0: "; font-weight: bold; }
    #VideoDate::before{ text-transform: none; content: "Date de publication de la vidéo\00A0: "; font-weight: bold; }
    #VideoDescription::before{ content: "Description de la vidéo\00A0: "; font-weight: bold; }
    #EventTitle::before{ content: "Titre de l'événement / Bandeau\00A0: "; font-weight: bold; }
    #EventSubTitle::before{ content: "Sous-titre / Message d'accueil\00A0: "; font-weight: bold; }
    #EventStyle::before{ content: "Style graphique de l'habillage\00A0: "; font-weight: bold; }
    #EventLocation::before{ content: "Lieu du tournage\00A0: "; font-weight: bold; }
    #OnSiteAttendance::before{ content: "Nombre de personnes attendues sur site\00A0: "; font-weight: bold; }
    #RemoteAttendance::before{ content: "Nombre de spectateurs attendus en distanciel\00A0: "; font-weight: bold; }
    #BroadcastMethode::before{ content: "Type de diffusion\00A0: "; font-weight: bold; }
    .name::before{ content: "Prénom NOM : "; font-weight: bold; }
    .function::before{ content: "Fonction\00A0: "; font-weight: bold; }
    .translation::before{ content: "Fonction traduite\00A0: "; font-weight: bold; }
    .link::before{ content: "Lien de connection (intervenant·e à distance)\00A0: "; font-weight: bold; }
    #StartTime::before{ content: "Début de la prestation\00A0:\00A0"; font-weight: bold; }
    .speakers::before{ content: "Intervenant·e(s)\00A0: "; font-weight: bold; }
    [data-trigger="Amphi"]::before{ content: "Besoins techniques spécifiques aux amphis\00A0: "; font-weight: bold; }
    #EndTime::before{ content: "Fin de la prestation\00A0:\00A0"; font-weight: bold; }
    
    /* YouTube Section */
    #YouTube_Section{ background-color: unset; }
    
    #YouTube_Section::before{ text-transform: uppercase; content: "Demande de prestation Multimédia"; font-weight: bold; font-size: 16pt !important; }

    #MetaData { margin-top: calc(2 * var(--gov-unit)); }

    #VideoVisibility {
        background-color: unset;
        padding: unset;
        line-height: unset;
        height: unset;
    }
    
    /* DSK Section */
    #EventData { margin: var(--gov-unit) 0; }
    
    #EventLocation{ display: inline; }
    
    #Speakers{ margin: var(--gov-unit) 0; }
    
    .speaker{
        background-color: unset !important;
        background-image: unset !important;
        padding: unset;
        display: block;
        margin-top: unset !important;
        margin-bottom: var(--gov-unit);
        page-break-inside: avoid;
    }
    
    .speakers{ all: unset; display: block; margin-top: var(--gov-unit) !important; margin-bottom: var(--gov-unit) !important; }
    .speakers > .button{ all: unset; display: inline-block !important; }
    .speakers > .button::after{ content: ",\00A0"; }
    .speakers > .button:nth-last-child(2)::after{ content: "."; }
    .speakers > .button:last-of-type{ display: none !important; }
    .speakers > div[data-attendance = "remote"], .speakers > div[data-attendance = "hybrid"]{ all: unset; pointer-events: none; }
    .speakers > div[data-attendance = "remote"]::before,.speakers > div[data-attendance = "hybrid"]::before{ content: "["; }
    .speakers > div[data-attendance = "remote"]::after{ content: "\00A0" "\260E" "]\00A0" !important; }
    .speakers > div[data-attendance = "hybrid"]::after{ content: "\00A0" "\1F5E9" "]\00A0" !important; }
    
    #StartTime{ display: block !important; margin-top: var(--gov-unit) 0; }
    #StartTime::-webkit-calendar-picker-indicator{ background: none; }
    
    #Sequences{ margin: var(--gov-unit) 0; }
    .sequence{ all: unset; margin-top: var(--gov-unit) !important; display: block; page-break-inside: avoid; border: 1px solid; padding: calc(0.5*var(--gov-unit)); }    
    .sequence::before{ all: unset; }    
    .speech::before{ content: attr(data-start) "\00A0" "-" "\00A0" "Allocution"; text-decoration: underline; }
    .transition{ background-color: lightgray; }
    .transition::before{ content: "[ Transition ]"; font-weight: bold; }
    .pause{ background: repeating-linear-gradient(-45deg, lightgray, lightgray 2px, white 2px, white 4px);}
    .pause::before{ content: attr(data-start) "\00A0" "-" "\00A0" "Temps de pause"; text-decoration: underline; }
    .duration{ display: inline-block; float: unset; }
    .duration::before{ content: "\00A0("; }
    .duration::after{ content: ")"; }
        
    label[for$="_ddr"],label[for$="_scroll"]{ display: none;}
    
    [id$="_ddrsources"], [id$="_scrollmessage"]{ display: block; margin: unset; }
    [id$="_ddrsources"]::before{ content: "Diffusion de média\00A0: "; font-weight: bold; }
    [id$="_scrollmessage"]::before{ content: "Message à faire défiler\00A0: "; font-weight: bold; }
    [id$="_requestsspecs"]::before{ content: "Prestation(s) supplémentaires(s)\00A0: "; font-weight: bold; }
    
    [id$="_Chapter"]{
        all: unset;
        display: block;
        font-family: MONOSPACE;
        overflow: hidden;
        width: -webkit-fill-available;
        margin-top: var(--gov-unit);
    }

    .hide-for-print { display: none !important; }
}
