/* CSS Document */
@charset "UTF-8";
@import "/src/css/fonts.css";

@import "/streaming/v2/scripts/css/interface.css";
@import "/streaming/v2/scripts/css/normalize.css";

/* -------------------- Elements Styles -------------------- */

html{
	background-color: var(--button-hover-background);
    font-size: 0.3cm;
	padding: 2rem;
	overflow: auto;
	font-family: Marianne;
}

body{
	margin: auto;
	min-width: 640px;
    width: calc(100vw - 4rem);
	max-width: calc(1280px - 4rem);
	min-height: 480px;
	background-color: var(--background);
	box-shadow: 0 0 .5rem rgb(0 0 0 / 50%);
	border-radius: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 1.25rem;
}

hr{
	background-color: var(--button-background);
	border-style: none;
	height: .2rem;
	border-radius: .2rem;
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    margin-top: 0;
    color: var(--button-hover-background);
    font-style: italic;
}

.button {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--button-background);
    border-radius: 0.5rem;
	position: relative;
	margin: .25rem;
    margin-left: 0;
	cursor: pointer;
	color: white;
	font-size: 1.25rem;
	user-select: none;
    min-width: 2.5rem;
    text-align: center;
    vertical-align: text-bottom;
    height: 2.5rem;
    box-sizing: border-box;
}

.button:hover{ background-color: var(--button-hover-background); }


h1, h2, h3{ position: relative; }

#Total{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: var(--button-background);
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 100%;
    font-family: monospace;
    width: fit-content;
}

.delete {
    float: right;
    cursor: pointer;
}

.delete:hover { color: white;}

.hidden{ display: none !important; }

.link a{ color: black; text-decoration: none; }

#archives a{ color: var(--button-hover-background); text-decoration: none; }

#archives { margin-top: 2rem; }

a:hover{ color: white !important; text-decoration: none; }

table{
    width:100%;
    border-collapse: collapse;
    background: var(--button-background);
    color: black;
}

th, td{ border-right: 0.2rem solid var(--background); padding: 5px; }

table{ border-left: 0.2rem solid var(--background); }

th {
    text-align: left;
    background-color: var(--input-background);
    color: white;
    font-weight: normal;
}

th{ text-align: left; }

tr:nth-child(even) { background-color: var(--button-hover-background); }