/* CSS Document */
:root { --gov-unit: 27px; }
    
html, body{
    min-width: 1280px !important;
    min-height: 720px !important;
    max-width: 1280px !important;
    max-height: 720px !important;
    overflow: visible;
}

#Copyright, body::before, body::after{ display: none;}

#ENPJJ, #Marianne, #Partenaire{ display: none;}

.fullscreen {
    min-width: 1280px !important;
    min-height: 720px !important;
    max-width: 1280px !important;
    max-height: 720px !important;
}